.before-sidebar {
  background-color: #E0E0E0;
}

.construction {
  margin-top: 100px;
  width: 400px;
}

.sidebar {
  background-color: #E0E0E0;
  height: 100%;
  border-right: solid rgba(0, 0, 0, 0.13) 1px;
  .nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    background-color: transparent;
    color: black;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.16);
    font-weight: 900 !important;
  }
  a {
    margin-top: 15px;
    margin-bottom: 10px;
  }
  a:hover, a:focus {
    color: #F5BB00;
    text-decoration: none;
  }
  .nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: rgb(238, 238, 238);
  }
}


// 1/ profile

.menu {
  margin-bottom: 60px;
  img {
    height: 132px;
  }
  h1 {
    border-bottom: solid 1px rgba(0, 0, 0, 0.17);
    padding-bottom: 15px;
  }
  h4 {
    font-size: 30px;
    margin: 30px;
  }
  &-item {
    margin: 20px;
    p {
      font-size: 17px;
    }
    h2 {
      font-size: 28px;
    }
  }
}

// End 1/ profile


// 2/ Gérer commande

  .p-order {
    margin-bottom: 60px;
    img {
      width: 700px;
      margin-bottom: 30px;
    }
    h1 {
    border-bottom: solid 1px rgba(0, 0, 0, 0.17);
    padding-bottom: 15px;
    }
    p{
      margin: 20px 50px;
      font-size: 17px;
    }
    i {
      margin-right: 15px;
    }
  }

// 2/ End Gérer commande


//  End Recevoir ses revenus
.p-revenus {
  margin-bottom: 60px;
  img {
    width: 400px;
    margin-top: 30px;
  }
 h1 {
  border-bottom: solid 1px rgba(0, 0, 0, 0.17);
  padding-bottom: 15px;
  }
  p {
    margin: 20px 50px;
    font-size: 17px;
  }
}

//  End Recevoir ses revenus


// Recevoir ses clients
.p-customer{
  h1 {
    border-bottom: solid 1px rgba(0, 0, 0, 0.17);
    padding-bottom: 15px;
  }
  img {
    margin-top: 30px;
    width: 70%;
  }

  p {
    margin: 30px 100px;
    font-size: 17px;
  }
}
// End recevoir ses clients


// Photos et présentation
.p-picture {
  margin-bottom: 60px;
  img {
      width: 400px;
      margin-top: 30px;
    }
  h3 {
    margin: 40px 100px;
  }
  p {
    margin: 0px 100px;
    margin-bottom: 30px;
  }
}
// Photos et présentation

// cancel
.p-cancel {
  img {
      width: 400px;
      margin-top: 30px;
    }

  p {
    margin: 0px 100px;
    font-size: 14px;
    margin-bottom: 30px;
  }
  &-left {
    padding: 20px;

    h3 {
    margin: 40px 100px;
    color: $pepeat;
    }

    b {
    font-weight: 500;
    }

    p {
      margin-top: 30px;
    }
  }
  &-right {
    border-left: solid 1px rgba(0, 0, 0, 0.24);
    padding: 20px;

    h3 {
    margin: 40px 100px;
    color: $pepeat;
    }

    b {
    font-weight: 500;
    }

    h4 {
      margin-bottom: 30px;
    }
    &-first {
     margin: 40px 0px;
     border-bottom: solid 1px rgba(0, 0, 0, 0.11);
    }
    &-second {
      margin: 40px 0px;
    }
  }
}
// cancel



