<% if review(@user) == 0 %>
  <div class="background-default window-height">
    <div class= "background-default-blur">
      <div class="background-default-blur-text">
        <h3 class= "text-center">Vous n'avez aucun avis</h3>
      </div>
      <div class="background-default-blur-edit">
        <%= link_to 'Créer un menu', new_profile_meal_path, class: "btn btn-pepeat btn-large" %>
      </div>
    </div>
  </div>
<% else %>
  <div class="background-meals-show">
    <div class="background-meals-show-title text-center">
    <h3>Tout vos avis</h3>
    <%= image_tag @user.picture.url(:medium), class: "img-circle banner-review-pic" %>
  </div>
</div>
  <% @user.meals.each do |meal| %>
    <%= render '/shared/review', meal: meal %>
  <% end %>
<% end %>



