<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1>Bienvenue chez Pepeat !</h1>
    </div>
  </div>
</div>

<p>
  Bonjour <%= @user.firstname %> <%=@user.lastname %>,
  Merci de t'être inscrit chez Pepeat !
  Autant te dire que : CA VA CARTONNER !
</p>




