.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(32, 23, 19, 0.58);
  color: white;
}


#banner {

  background-image: image-url('kitchen.jpg');
  background-size: cover;
  background-position: center center;
  position: relative;
}



.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  h3 {
  font-size: 95px;
  color: #E7B336;
  text-shadow: 1px 1px grey;
  }
  h1 {
  font-size: 30px;
  }
}



.chief_first {
  margin: 88px 20px;
}


.organisation-row {
  padding-top: 40px;
  border-bottom: 1px solid #D4CDCD;
}

.infos-chief {

  background: -webkit-linear-gradient(90deg, #ECE9E6 10%, #FFFFFF 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(90deg, #ECE9E6 10%, #FFFFFF 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(90deg, #ECE9E6 10%, #FFFFFF 90%); /* IE10 */
  background:      -o-linear-gradient(90deg, #ECE9E6 10%, #FFFFFF 90%); /* Opera 11.10+ */
  background:         linear-gradient(90deg, #ECE9E6 10%, #FFFFFF 90%); /* W3C */
  h1 {
    margin-top: 0;
    padding-top: 61px;
    padding-bottom: 40px;
    border-bottom: 1px solid #D4CDCD;
  }

}

.description-chief {
  padding-right: 100px;
  h1 {
    font-size: 26px;
    padding-bottom: 15px;
    font-family: $subtitle;
  }
  p {
    text-align: -webkit-left;
    font-size: 17px;
    padding-bottom: 20px;
  }
}


.choice {
  background-color: white;
  width: 100%;
  padding: 35px;
  h3 {
    margin: 20px 30px;
    font-size: 20px;
    font-family: $subtitle;
  }
}


.size-chief-picture {
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
}

.card-chief-infos {
  height: auto;
  padding: 35px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 40px;
  h1 {
    font-family: $subtitle;
    font-size: 30px;
  }
  &-img {
  width: 100px;
  margin: 20px;

  }
}
.stripe-solution {
  h3 {
    font-size: 25px;
    font-family: $subtitle;
  }
  p {
    margin-top: 15px;
    text-align: -webkit-left;
  }
}

#stripe-infos {
   background: -webkit-linear-gradient(90deg, #ECE9E6 10%, #FFFFFF 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(90deg, #ECE9E6 10%, #FFFFFF 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(90deg, #ECE9E6 10%, #FFFFFF 90%); /* IE10 */
  background:      -o-linear-gradient(90deg, #ECE9E6 10%, #FFFFFF 90%); /* Opera 11.10+ */
  background:         linear-gradient(90deg, #ECE9E6 10%, #FFFFFF 90%); /* W3C */
  padding: 20px;
}

.button-chief {

  margin-top: 30px;
  padding-bottom: 50px;
}

.convaincu {
 background: -webkit-linear-gradient(90deg, #ECE9E6 10%, #FFFFFF 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(90deg, #ECE9E6 10%, #FFFFFF 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(90deg, #ECE9E6 10%, #FFFFFF 90%); /* IE10 */
  background:      -o-linear-gradient(90deg, #ECE9E6 10%, #FFFFFF 90%); /* Opera 11.10+ */
  background:         linear-gradient(90deg, #ECE9E6 10%, #FFFFFF 90%); /* W3C */
  h3 {
    font-size: 18px;
  }
}
