/* -------------------------------------
 * SASS code SPECIFIC TO your home page
 * (margin/padding adjustments, background image, etc..)
 * ------------------------------------- */

.banner-content {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 10;
  h1 {
  font-family: $pepeat-font;
  font-size: 100px;
  color: rgba(231, 179, 54, 0.9);
  text-shadow: 1px 1px rgba(4, 4, 4, 0.53);
  padding-bottom: 40px
  }
  h2 {
    color: white;
    text-shadow: 1px 1px rgba(4, 4, 4, 0.29);
    font-size: 30px;
    font-weight: 600;

  }
  h3 {
    color:white;
    text-shadow: 1px 1px rgba(4, 4, 4, 0.53);
    font-size: 23px;
  }
}

.overlay-home {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(32, 23, 19, 0.06);
  color: white;
}

.home-signup {
  background-color: white;
  box-shadow: 0px 0px 2px black;
  border: solid 1px rgba(0, 0, 0, 0.16);
  border-radius: 10px;
  height: auto;
  padding:20px;
  margin-bottom: 30px;
  h3 {
    font-size: 24px;
    color: $pepeat;
    margin-top: 3px;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.16);
    margin-bottom: 20px;
    border-bottom: solid 1px rgba(0, 0, 0, 0.16);
    padding-bottom: 10px;
  }
  p {
    margin-bottom: 0px;
    margin-top: 5px;
    font-size: 12px;
  }

}

.countdown {
  position : absolute;
  transform: translateX(-50%) translateY(-50%);
  bottom : 100px;
  top: 68%;
  left: 50%;
  width: 300px;
  height: 62px;
  padding: 5px;
  width: 50%;
  span {
    color: white;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.47);
    font-size: 25px;

  }
}

.signup-home {
  z-index: 1000;
  position: absolute;
  bottom: 25px;
  right: 20px;
  // transform: translateX(-50%) translateY(-50%);
}

.banner-infos {
  position : absolute;
  top: 88%;
  left: 85%;
  transform: translateX(-50%) translateY(-50%);
  p {
    color: white;
    font-size: 20px;
  }
}

.is-countdown {
  color: white;
  font-size: 27px;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.47);
  border: 1px solid transparent;
  background-color: transparent;
}

.banner-soon {
  position: absolute;
  top: 67px;
  right: 53px;
  img {
    width: 280px;
  }
}

.lille {
  position: absolute;
  left: 13%;
  top: 14%;
  img {
    width: 200px;
    height: 200px;
  }
}

.banner-button {
  position: absolute;
  bottom: 60px;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.hvr-fade:hover, .hvr-fade:focus, .hvr-fade:active {
    background-color: #FFC031;
    color: white;
    border: solid 2px white;
}
.home-infos {
  padding-bottom: 70px;
  background: -webkit-linear-gradient(90deg, #ECE9E6 10%, #FFFFFF 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(90deg, #ECE9E6 10%, #FFFFFF 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(90deg, #ECE9E6 10%, #FFFFFF 90%); /* IE10 */
  background:      -o-linear-gradient(90deg, #ECE9E6 10%, #FFFFFF 90%); /* Opera 11.10+ */
  background:         linear-gradient(90deg, #ECE9E6 10%, #FFFFFF 90%); /* W3C */
  h1 {
    margin-top: 40px;
  }

  p {
    font-size: 16px;
    margin: 4px 15px;
  }
  h2 {
    font-family: $subtitle;
    color: $pepeat;
    font-size: 30px;
    margin-bottom: 20px;
  }
  &-element {
    margin-top: 40px;
    position: relative;
    border: solid 2px black;
    height: 110px;
    width: 110px;
    border-radius: 20px;
    margin-bottom: 20px;
    &-fafa {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
    }
  }
  &-button {
    margin-bottom: 50px;
    margin-top: 50px;
  }
}



.bg-chief {
  background-color: white;
  width:100%;
  height: 100%;
  color: black;

  &-button {
    margin-top: 30px;
  }

  i {
    margin-right: 10px;
  }

  h1 {
    font-size: 35px;
    margin-top: 43px;
    color: #FF585B;
  }

  h2 {
    font-family: $subtitle;
    font-size: 30px;
    margin: 20px;
    color: #2B7319;
    background-color: rgba(187, 187, 187, 0.17);
  }

  h3 {
    font-size: 20px;
    margin: 20px 20px;
    margin-bottom: 73px;
    padding-bottom: 20px;
    border-bottom: solid black 1px;
  }

  h4 {
    font-family: $base-font;
    font-size: 17px;
    margin: 30px 20px;
  }

  &-amateur {

    margin: 10px;
    padding: 10px;
    &-header {

    }
    &-body {

    }
  }
  &-pro {

  border-left: 1px solid white;

    margin: 10px;
    padding: 10px;
    &-header {

    }
    &-body {

    }
  }
}

.icon-pro-amateur {
  width: 120px;
}



.us {
  background-color: white;
  padding-top: 50px;
  &-img {
    margin: 10px;
    &-size {
      height: 100%;
      width: 83%;
      border: solid 0px #E7B335;
      border-radius: 3px;
      box-shadow: 1px 1px rgba(16, 16, 16, 0.51);
    }

  }
  &-txt {
    h1 {
      font-family: $subtitle;
      font-size: 30px;
      margin: 5px;
      margin-top: 50px;
      margin-bottom: 15px;
    }


    p {
      padding-right: 100px;
      color: #7B7A78;
      font-size: 17px;
    }
    &-element {
      margin-top: 24px;
      position: relative;
      border: solid 1px $pepeat;
      height: 45px;
      margin-right: 10px;
      margin-left: 20px;
      width: 45px;
      border-radius: 27px;
      margin-bottom: 20px;
      &-fafa {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
      }
    }
  }
}


.decalage {
  text-align: right;
  margin-left: 100px;
  padding-right: 0px;
}

.disposition-row {
  padding-top: 30px;
  padding-bottom: 60px;
  span {
    color: $pepeat;
  }

}



#bg-meals {
  background: -webkit-linear-gradient(90deg, #ECE9E6 10%, #FFFFFF 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(90deg, #ECE9E6 10%, #FFFFFF 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(90deg, #ECE9E6 10%, #FFFFFF 90%); /* IE10 */
  background:      -o-linear-gradient(90deg, #ECE9E6 10%, #FFFFFF 90%); /* Opera 11.10+ */
  background:         linear-gradient(90deg, #ECE9E6 10%, #FFFFFF 90%); /* W3C */
  padding-top: 50px;
  padding-bottom: 50px;
}

.home-title {
  text-decoration: overline;
  font-size: 30px;
}


.meals-home {
  background-color: white;
  box-shadow: 2px 2px 3px rgba(56, 48, 48, 0.3);
  border-radius: 3px;
  height: auto;
  padding:4px;
  margin: 30px;
  &-header {
    position: relative;
    height: auto;
    background-size: cover;
    color: white;
    border-radius: 3px 3px 0px 0px;
    &-away {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      background-color: rgba(2, 2, 2, 0.7);
      h3 {
        font-family: $subtitle;
        font-size: 16px;
        margin: 4px;
      }
    }
  }
  &-body {
    height: 32px;
    position: relative;
    background-size: cover;
    position: relative;
    color: white;
    border-radius: 3px 3px 0px 0px;
    &-price {
      position: absolute;
      bottom: 0px;
      left: 0px;
      background-color: rgba(2, 2, 2, 0.7);
      font-size: 30px;
      padding: 8px;
    }
    &-date {
      font-size: 30px;
      position: absolute;
      bottom: 0px;
      right: 20px;
      bottom: -3px;
      color: black;
      font-size: 19px;
      padding: 1px;
    }
    &-pic {
      position: absolute;
      right: 9px;
      bottom: 25px;

    }
  }
}

.hidden-xs {
  display: none;
}

.home-pic {
  width: 55px;
  height: 55px;
  border: solid 2px white;

}

.img-carousel {
  width: 100%;
}

.banner-video {
position: relative;
}


.background-home-chief {
  position: relative;
  background-image: image-url('chef.jpg');
  background-size: cover;
  background-position: center center;
  width: 100%;
  &-title {
    padding: 15px;
    color: white;
    position: absolute;
    top: 50%;
    width: 100%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    h3 {
      font-size: 44px;
      text-shadow: 1px 1px rgba(9, 9, 9, 0.28);
      margin-bottom: 30px;
    }
    p {
      font-size: 22px;
      margin-bottom: 30px;
    }
  }
  &-alias {
    position: absolute;
    bottom: 20px;
    left: 20px;
  }
}


.event {
  position: relative;
  background-image: image-url('background-pepeato');
  background-size: cover;
  height: 300px;
  background-position: center center;
  img {
      width: 80px;
      position: absolute;
      top: 7%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
    }
  &-element {
    position: absolute;
    top: 59%;
    padding: 7px;
    width: 100%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    h1 {
      color: white;
      font-size: 50px;

    }
    h2 {
      color: white;
      font-size: 28px;
      margin-bottom: 33px;
    }
  }
}


@media (max-width: 767px) {
  .size-pepeat {margin-top: 0px; width: 250px !important;}
  .banner-video {display: none;}
  .event-element h1 {font-size: 21px}
  .event-element h2 {font-size: 14px}
  #banner-xs {display: block !important;}
  #banner-xs h2 {margin-top: 23px; font-size: 20px; padding: 5px;}
  .us-txt h1 {font-size: 24px; text-align: center;}
  .us-txt p { padding-right: 0px; padding: 10px; text-align: center;}
  .hidden-sm {display: none;}
  .hidden-xs {display: block !important;}
  .us-img { text-align: center;}
  .decalage {margin-left: 0px;}
  .meals-home-body-price { font-size: 25px;}
  .meals-home-body {height: 24px;}
  .signup-home {display: block;}
}
@media (min-width: 768px) and (max-width: 1025px) {
  .size-pepeat {width: 400px !important;}
  .banner-video {display: none;}
  #banner-xs {display: block !important;}
  #banner-xs h2 {margin-top: 23px; font-size: 30px; padding: 5px;}
  .us-txt h1 {font-size: 24px; text-align: center;}
  .us-txt p { padding-right: 0px; padding: 10px; text-align: center;}
  .hidden-sm {display: none;}
  .hidden-xs {display: block !important;}
  .us-img { text-align: center;}
  .decalage {margin-left: 0px;}
  .meals-home-body-price { font-size: 25px;}
  .meals-home-body {height: 24px;}
  .signup-home {display: block;}
}

