/* -------------------------------------
 * SASS code SPECIFIC TO your home page
 * (margin/padding adjustments, background image, etc..)
 * ------------------------------------- */


.banner-content {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 10;
  h1 {
  font-family: $pepeat-font;
  font-size: 100px;
  color: rgba(231, 179, 54, 0.9);
  text-shadow: 1px 1px rgba(4, 4, 4, 0.53);
  padding-bottom: 40px
  }
  h2 {
    color: white;
    text-shadow: 1px 1px rgba(4, 4, 4, 0.53);
    font-size: 40px;

  }
  h3 {
    color:white;
    text-shadow: 1px 1px rgba(4, 4, 4, 0.53);
    font-size: 23px;
  }
}

.banner-button {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
}

.hvr-fade:hover, .hvr-fade:focus, .hvr-fade:active {
    background-color: #FFC031;
    color: white;
    border: solid 2px white;
}
.home-infos {

  background: -webkit-linear-gradient(90deg, #ECE9E6 10%, #FFFFFF 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(90deg, #ECE9E6 10%, #FFFFFF 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(90deg, #ECE9E6 10%, #FFFFFF 90%); /* IE10 */
  background:      -o-linear-gradient(90deg, #ECE9E6 10%, #FFFFFF 90%); /* Opera 11.10+ */
  background:         linear-gradient(90deg, #ECE9E6 10%, #FFFFFF 90%); /* W3C */
  h1 {
    margin-top: 40px;
  }

  p {
    font-size: 16px;
    margin: 4px 15px;
  }
  h2 {
    font-family: $subtitle;
    color: $pepeat;
    font-size: 30px;
    margin-bottom: 20px;
  }
  &-element {
    margin-top: 40px;
    position: relative;
    border: solid 2px black;
    height: 110px;
    width: 110px;
    border-radius: 20px;
    margin-bottom: 20px;
    &-fafa {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
    }
  }
  &-button {
    margin-bottom: 50px;
    margin-top: 50px;
  }
}



.bg-chief {
  background-color: white;
  width:100%;
  height: 100%;
  color: black;

  &-button {
    margin-top: 30px;
  }

  i {
    margin-right: 10px;
  }

  h1 {
    font-size: 35px;
    margin-top: 43px;
    color: #FF585B;
  }

  h2 {
    font-family: $subtitle;
    font-size: 30px;
    margin: 20px;
    color: #2B7319;
    background-color: rgba(187, 187, 187, 0.17);
  }

  h3 {
    font-size: 20px;
    margin: 20px 20px;
    margin-bottom: 73px;
    padding-bottom: 20px;
    border-bottom: solid black 1px;
  }

  h4 {
    font-family: $base-font;
    font-size: 17px;
    margin: 30px 20px;
  }

  &-amateur {

    margin: 10px;
    padding: 10px;
    &-header {

    }
    &-body {

    }
  }
  &-pro {

  border-left: 1px solid white;

    margin: 10px;
    padding: 10px;
    &-header {

    }
    &-body {

    }
  }
}

.icon-pro-amateur {
  width: 120px;
}



.us {
  background-color: white;
  padding-top: 50px;
  &-img {
    &-size {
      height: 280px;
      width: 400px;
      border: solid 11px #E7B336;
      border-radius: 3px;
      box-shadow: 2px 2px rgba(251, 189, 36, 0.24);
    }

  }
  &-txt {
    h1 {
      font-family: $subtitle;
      font-size: 30px;
      margin-top: 50px;
    }


    p {
      padding-right: 100px;
      color: #7B7A78;
    }
    &-element {
      margin-top: 24px;
      position: relative;
      border: solid 1px rgba(0, 0, 0, 0.91);
      height: 45px;
      margin-right: 10px;
      margin-left: 20px;
      width: 45px;
      border-radius: 27px;
      margin-bottom: 20px;
      &-fafa {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
      }
    }
  }
}


.decalage {
  text-align: right;
  margin-left: 100px;
  padding-right: 0px;
}

.disposition-row {
  padding-top: 30px;
  padding-bottom: 60px;

}



#bg-meals {
  background: -webkit-linear-gradient(90deg, #ECE9E6 10%, #FFFFFF 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(90deg, #ECE9E6 10%, #FFFFFF 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(90deg, #ECE9E6 10%, #FFFFFF 90%); /* IE10 */
  background:      -o-linear-gradient(90deg, #ECE9E6 10%, #FFFFFF 90%); /* Opera 11.10+ */
  background:         linear-gradient(90deg, #ECE9E6 10%, #FFFFFF 90%); /* W3C */
  padding-top: 50px;
  padding-bottom: 50px;
}

.home-title {
  text-decoration: overline;
  font-size: 30px;
  -moz-text-decoration-color: $pepeat; /* Code for Firefox */
  text-decoration-color: $pepeat;

}
