/* -------------------------------------
 * SASS code SPECIFIC TO your home page
 * (margin/padding adjustments, background image, etc..)
 * ------------------------------------- */


.banner-content {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 10;
  h1 {
  font-family: $pepeat-font;
  font-size: 100px;
  color: rgba(231, 179, 54, 0.9);
  text-shadow: 1px 1px rgba(4, 4, 4, 0.53);
  padding-bottom: 40px
  }
  h2 {
    color: white;
    text-shadow: 1px 1px rgba(4, 4, 4, 0.53);
    font-size: 40px;

  }
  h3 {
    color:white;
    text-shadow: 1px 1px rgba(4, 4, 4, 0.53);
    font-size: 23px;
  }
}

.banner-button {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
}

.hvr-fade:hover, .hvr-fade:focus, .hvr-fade:active {
    background-color: #FFC031;
    color: white;
    border: solid 2px white;
}
.home-infos {

  background: -webkit-linear-gradient(90deg, #ECE9E6 10%, #FFFFFF 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(90deg, #ECE9E6 10%, #FFFFFF 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(90deg, #ECE9E6 10%, #FFFFFF 90%); /* IE10 */
  background:      -o-linear-gradient(90deg, #ECE9E6 10%, #FFFFFF 90%); /* Opera 11.10+ */
  background:         linear-gradient(90deg, #ECE9E6 10%, #FFFFFF 90%); /* W3C */
  h1 {
    margin-top: 40px;
  }

  p {
    font-size: 16px;
    margin: 4px 15px;
  }
  h2 {
    font-family: $subtitle;
    color: $pepeat;
    font-size: 30px;
    margin-bottom: 20px;
  }
  &-element {
    margin-top: 40px;
    position: relative;
    border: solid 2px black;
    height: 110px;
    width: 110px;
    border-radius: 20px;
    margin-bottom: 20px;
    &-fafa {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
    }
  }
  &-button {
    margin-bottom: 50px;
    margin-top: 50px;
  }
}
