@import "home";
@import "chief_infos";
@import "profiles/show";
@import "profiles/edit";
@import "profile/meal/new";
@import "profile/meal/index";
@import "profile/order/index";
@import "meals/index";
@import "meals/show";
@import "signin";
@import "profile/meal/history";
@import "profile/order/history";
@import "profile/payment/new";
@import "profile/order/rating";
@import "profiles/croping";
@import "password/new";

