.chief-banner {
  background-color: $pepeat;
  padding: 15px;
  opacity: 0.8;
}


.cook-picture {

  height: 80px;
  width: 80px;
  -webkit-border-radius: 150px;
-moz-border-radius: 150px;
background: url(URL) no-repeat;
box-shadow: 0 0 8px rgba(250, 250, 250, .8);
-webkit-box-shadow: 0 0 8px rgba(250, 250, 250, .8);
-moz-box-shadow: 0 0 8px rgba(250, 250, 250, .8);
}

.week-day {
  padding:10px;
  li {
    width: 13%;
  }
}


.card-meal {
  width: 100%;
  height: 300px;
  background-color: white;

}

