.card-signin {
  padding: 40px 0px;
  background-color: white;
  margin: 30px;
  border-radius: 3px;
  height: auto;
  border: 1px solid rgba(49,49,47,0.18);
}


.background {

  background: -webkit-linear-gradient(90deg, #485563 10%, #29323c 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(90deg, #485563 10%, #29323c 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(90deg, #485563 10%, #29323c 90%); /* IE10 */
  background:      -o-linear-gradient(90deg, #485563 10%, #29323c 90%); /* Opera 11.10+ */
  background:         linear-gradient(90deg, #485563 10%, #29323c 90%); /* W3C */


}


.title-pepeat {
  font-family: 'Fredoka One', cursive;
  font-size: 51px;
  color: #E7B336;
  padding-bottom: 30px;
}


.links {
  margin-top: 30px;
}


.facebook-btn {
  height: 50px;
  width: 243px;
  margin-top: 20px;
}
