<div class="background-review background-banner">
  <div class="overlay">
    <div class="background-review-title text-center">
      <h3 class= "title-banner">Commentez votre menu</h3>
    </div>
  </div>
</div>

<div class= "rating text-center">
  <div class="container">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <%= simple_form_for @order, url: { action: "update", id: @order.id } do |f| %>
        <%= f.error_notification %>
        <%= f.input :review, input_html: {value: ""}, label: "Qu'avez vous pensé de votre menu ? " %>
        <%= f.submit 'Postez', class: "btn btn-pepeat form-control" %>
      <% end %>
    </div>
  </div>
</div>


