<div class="background-meals-show background-banner">
  <div class="overlay">
    <div class="background-meals-show-title text-center">
      <h3>Tous les avis de <%= @user.surname%></h3>
      <%= image_tag @user.picture.url(:medium), class: "img-circle banner-review-pic" %>
    </div>
  </div>
</div>
<div class="container">
  <% @user.meals.each do |meal| %>
    <%= render '/shared/review', meal: meal %>
  <% end %>
</div>



