@media (max-width: 767px) {
  .title-banner {font-size: 20px;}
  .background-banner {height: 250px;}
  .background-banner h3 { font-size: 28px;}
  .background-meal-new-title h3 { font-size: 25px;}
  .profile-header { padding-bottom: 10px; font-size: 16px; text-decoration: overline;}
  .home-title { margin: 10px; font-size: 22px; }
  .navbar-nav {background-color: rgb(51, 51, 51);}
  .absolute {left: 36%;}
  .navbar-wagon .navbar-nav > li > a.btn { display: none}
  .alert { font-size: 20px;}
  .content h3 {font-size: 39px;}
  .content h1 {font-size: 13px;}
  .navbar-wagon2 .navbar-nav > li > a, .navbar-wagon2 .navbar-nav > .open > a, .navbar-wagon2 .navbar-nav > li > a:focus, .navbar-wagon2 .navbar-nav > .open > a:focus {color:white;}
}

@media (max-width: 1025px) {
.navbar-nav > li > a,
  .navbar-nav > .open > a,
  .navbar-nav > li > a:focus,
  .navbar-nav > .open > a:focus { color: white !important; }
}
