@media (max-width: 767px) {
  .title-banner {font-size: 20px;}
  .background-banner {max-height: 130px;}
  .background-meal-new-title h3 { font-size: 25px;}
  .profile-header { padding-bottom: 10px; font-size: 16px; text-decoration: overline;}
}

