.background-meals {

  background: -webkit-linear-gradient(90deg, #BA8B02 10%, #181818 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(90deg, #BA8B02 10%, #181818 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(90deg, #BA8B02 10%, #181818 90%); /* IE10 */
  background:      -o-linear-gradient(90deg, #BA8B02 10%, #181818 90%); /* Opera 11.10+ */
  background:         linear-gradient(90deg, #BA8B02 10%, #181818 90%); /* W3C */

  width: 100%;
  min-height: 285px;
  &-title {
    padding-top: 25px;
    color: white;

    h3 {
      font-size: 44px;
      text-shadow: 2px 2px rgba(222, 161, 24, 0.79);
    }
  }
  &-add {
    position: absolute;
    bottom: 12px;
    right: 12px;
  }
}


.chief-banner {
  background-color: $pepeat;
  padding: 15px;
  opacity: 0.8;
}


.cook-picture {

  height: 80px;
  width: 80px;
  padding: 2px;
  margin: 20px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  background: url(URL) no-repeat;
  box-shadow: 0 0 8px rgba(250, 250, 250, .8);
  -webkit-box-shadow: 0 0 8px rgba(250, 250, 250, .8);
  -moz-box-shadow: 0 0 8px rgba(250, 250, 250, .8);
}

.week-day {
  padding:10px;
  li {
    width: 13%;
  }
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  color: $pepeat;
  background-color: #eeeeee;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
  cursor: default;
  font-size: 20px;
}

.nav-tabs > li > a {
    margin-right: 2px;
    line-height: 1.4;
    border: 1px solid transparent;
    border-radius: 2px 2px 0 0;
    padding-left: 21px;
    padding-right: 21px;
}


.meals {
  background-color: white;
  box-shadow: 1px 1px 3px rgb(239, 231, 231);
  border-radius: 3px;
  height: auto;
  padding:4px;
  margin: 30px;
  &-header {
    height: 300px;
    background-size: cover;
    position: relative;
    color: white;
    border-radius: 3px 3px 0px 0px;
    &-price {
      position: absolute;
      bottom: 0px;
      left: 0px;
      background-color: rgba(2, 2, 2, 0.7);
      font-size: 30px;
      padding: 8px;
    }
    &-date {
      font-size: 30px;
      text-shadow: 2px 2px rgba(136, 133, 126, 0.79);
      position: absolute;
      bottom: 0px;
      left: 91px;
      font-size: 30px;
      padding: 8px;
    }
  }
  &-body {
    background-color: white;
    height: auto;
    &-chef {
      position: relative;
      padding: 15px;
      border-bottom: 1px solid rgba(4, 4, 4, 0.05);
      &-name {
        position:absolute;
        left: 22%;
        top:36%;
      }
      &-map {
        position: absolute;
        border-radius: 50px;
        width: 200px;
        height: 200px;
      }
    }
    &-menu {
      padding-left: 15px;
      padding-top: 5px;
      border-bottom: 1px solid rgba(4, 4, 4, 0.05);
      &-title {
        background-color: $pepeat;
        margin-bottom: 25px;
        margin-right: 15px;
        border-radius: 3px;

        h3 {
        text-shadow: 1px 1px rgba(136, 133, 126, 0.79);
        font-family: white;
        font-size: 25px;
        color: white;
        padding: 3px;
        }
      }
      &-starter{
        position: relative;
        height: auto;
        margin-bottom: 20px;
        &-element{
          padding-left: 20%;
          padding-top: 5px;
        }
      }
    }
    &-takeaway{
      position: relative;
      padding: 15px;
      border-bottom: 1px solid rgba(4, 4, 4, 0.05);
      &-hour {
        margin-top: 30px;
        margin-left: 7%;
      }
      &-portion {
        position:absolute;
        top: 15%;
        right: 14%;
      }
    }
    &-order {

    }
  }
}

.size-portion {
  width: 60px;
  height: 60px;
}

.size-txt-portion {
  font-size: 35px;
  position: relative;
  top: 14px;
  right: 13px;
}

.img-chef-meal {
  height: 70px;
  width:70px;
  border: solid rgba(0,0,0,0.24) 1px;
}

.img-menu-meal {
  position: absolute;
  left: 0px;
  top: 50%;
  height: 30px;
  width: 42px;
  transform: translateY(-50%);
}

.img-take {
  position: absolute;
  top: 6%;
  left: 21%;
  width: 30px;
  height: 30px;
}

.buton-order {
  width: 100%;
}

.size {
  width: auto;
  height: auto;
}



.card-meal {
  width: 100%;
  height: auto;
  background-color: white;
  &-header {
    padding: 10px;

    &-img {
      margin-right: 30px;
      width: 60px;
      height: 60px;
      box-shadow: 0 0 8px rgba(0, 0, 0, .8);
      -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
      -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    }
  }
  &-body {
    position: relative;
    padding: 10px;
    &-menu {
      padding-top: 15px;
      &-icon {
        margin-right: 20px;
        height: 50px;
        width:50px;
      }
    }
    &-map {
      position: absolute;
      right:0px;
      top: 19%;
      height: 59%;
      width: 36%;
    }
  }
  &-footer {

    &-icon {
      height: 30px;
      width: 30px;
      margin-left: 5px;
    }
  }
}


.size-img-carousel {
  height: 325px !important;
  width: 380px;
}

