.background-meals {
  position: relative;
  background: -webkit-linear-gradient(90deg, #BA8B02 10%, #181818 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(90deg, #BA8B02 10%, #181818 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(90deg, #BA8B02 10%, #181818 90%); /* IE10 */
  background:      -o-linear-gradient(90deg, #BA8B02 10%, #181818 90%); /* Opera 11.10+ */
  background:         linear-gradient(90deg, #BA8B02 10%, #181818 90%); /* W3C */

  width: 100%;
  height: 245px;
  &-title {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);

    h3 {
      font-size: 44px;
      text-shadow: 2px 2px rgba(222, 161, 24, 0.79);
    }
  }
  &-add {
    position: absolute;
    bottom: 12px;
    right: 12px;
  }
}


.chief-banner {
  background-color: $pepeat;
  padding: 15px;
  opacity: 0.8;
}


.cook-picture {

  height: 80px;
  width: 80px;
  padding: 2px;
  margin: 20px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  background: url(URL) no-repeat;
  box-shadow: 0 0 8px rgba(250, 250, 250, .8);
  -webkit-box-shadow: 0 0 8px rgba(250, 250, 250, .8);
  -moz-box-shadow: 0 0 8px rgba(250, 250, 250, .8);
}


.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    color: #333;
    background-color: #e7b336;
    color: #EEEEEE;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.16);

}


.nav-justified > li > a, .nav-tabs.nav-justified > li > a {
    text-align: center;
    margin-bottom: 5px;
    background-color: rgba(128, 128, 128, 0.25);
    font-size: 5px;
    font-family: $base-font;
    border: solid 1px rgba(51, 51, 51, 0.24);
    border-radius: 2px;
    color: black;
    font-size: 12px;
}


.nav > li > a:hover, .nav > li > a:focus {
  text-decoration: none;
  background-color: darken(#D3D3D3, 10%);
}

.tab-content > .tab-pane,
.pill-content > .pill-pane {
    display: block;     /* undo display:none          */
    height: 0;          /* height:0 is also invisible */
    overflow-y: hidden; /* no-overflow                */
}
.tab-content > .active,
.pill-content > .active {
    height: auto;       /* let the content decide it  */
} /* bootstrap hack end */

.badge {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 10px;
    font-weight: bold;
    color: black;
    line-height: 1;
    vertical-align: middle;
    white-space: nowrap;
    text-align: center;
    background-color: transparent;
    border-radius: 4px;
    border: solid 1px rgba(9, 9, 9, 0.3);
    margin-left: 10px;
}


.meals {
  background-color: white;
  box-shadow: 1px 1px 3px rgb(239, 231, 231);
  border-radius: 3px;
  height: auto;
  padding:4px;
  margin: 30px;
  &-header {
    height: auto;
    background-size: cover;
    position: relative;
    color: white;
    border-radius: 3px 3px 0px 0px;
    &-price {
      position: absolute;
      bottom: 0px;
      left: 0px;
      background-color: rgba(2, 2, 2, 0.7);
      font-size: 30px;
      padding: 8px;
    }
    &-pic {
      position: absolute;
      bottom: -45px;
      right: 12px;
    }
    &-away {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      background-color: rgba(2, 2, 2, 0.7);
      h3 {
        font-family: $subtitle;
        font-size: 21px;
        margin: 4px;
      }
    }
    &-date {
      font-size: 30px;
      text-shadow: 2px 2px rgba(136, 133, 126, 0.79);
      position: absolute;
      bottom: 0px;
      left: 24%;
      font-size: 30px;
      padding: 8px;
    }
  }
  &-body {
    background-color: white;
    height: auto;
    &-chef {
      position: relative;
      padding: 15px;
      border-bottom: 1px solid rgba(4, 4, 4, 0.05);
      &-name {
        position:absolute;
        left: 22%;
        top:36%;
      }
      &-map {
        position: absolute;
        border-radius: 50px;
        width: 200px;
        height: 200px;
      }
    }
    &-menu {
      padding-left: 15px;
      padding-top: 5px;
      border-bottom: 1px solid rgba(4, 4, 4, 0.05);
      &-title {
        background-color: $pepeat;
        margin-bottom: 25px;
        margin-right: 15px;
        border-radius: 3px;

        h3 {
        text-shadow: 1px 1px rgba(136, 133, 126, 0.79);
        font-family: $subtitle;
        font-size: 25px;
        color: white;
        padding: 3px;
        }
      }
      &-starter{
        position: relative;
        height: auto;
        margin-bottom: 20px;
        &-element{
          padding-left: 20%;
          padding-top: 5px;
        }
      }
    }
    &-takeaway{
      position: relative;
      padding: 15px;
      border-bottom: 1px solid rgba(4, 4, 4, 0.05);
      &-hour {
        margin-top: 30px;
        margin-left: 7%;
      }
      &-portion {
        position:absolute;
        top: 15%;
        right: 14%;
      }
    }
    &-order {

    }
  }
}

.size-portion {
  width: 60px;
  height: 60px;
}

.size-txt-portion {
  font-size: 35px;
  position: relative;
  top: 14px;
  right: 13px;
}

.img-chef-meal {
  height: 100px;
  border: solid 2px rgb(255, 255, 255);
}

.img-menu-meal {
  position: absolute;
  left: 0px;
  top: 50%;
  height: 30px;
  width: 42px;
  transform: translateY(-50%);
}

.img-take {
  position: absolute;
  top: 6%;
  left: 21%;
  width: 30px;
  height: 30px;
}

.buton-order {
  width: 100%;
}

.size {
  width: auto;
  height: auto;
}



.card-meal {
  width: 100%;
  height: auto;
  background-color: white;
  &-header {
    padding: 10px;

    &-img {
      margin-right: 30px;
      width: 60px;
      height: 60px;
      box-shadow: 0 0 8px rgba(0, 0, 0, .8);
      -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
      -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    }
  }
  &-body {
    position: relative;
    padding: 10px;
    &-menu {
      padding-top: 15px;
      &-icon {
        margin-right: 20px;
        height: 50px;
        width:50px;
      }
    }
    &-map {
      position: absolute;
      right:0px;
      top: 19%;
      height: 59%;
      width: 36%;
    }
  }
  &-footer {

    &-icon {
      height: 30px;
      width: 30px;
      margin-left: 5px;
    }
  }
}


.size-img-carousel {
  height: 325px !important;
  width: 380px;
}



