.background-meals {
  position: relative;

  background-image: image-url('food.jpg');
  background-size: cover;
  background-position: center center;
  &-title {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
  &-add {
    position: absolute;
    bottom: 12px;
    right: 12px;
  }
}

.map-container {
  bottom: 0;
  right: 0;
  padding: 0;
  height: 100%;
  width: 100% !important;
  margin-top: 0;

}


.chief-banner {
  background-color: $pepeat;
  padding: 15px;
  opacity: 0.8;
}


.cook-picture {

  height: 80px;
  width: 80px;
  padding: 2px;
  margin: 20px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  background: url(URL) no-repeat;
  box-shadow: 0 0 8px rgba(250, 250, 250, .8);
  -webkit-box-shadow: 0 0 8px rgba(250, 250, 250, .8);
  -moz-box-shadow: 0 0 8px rgba(250, 250, 250, .8);
}


.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    color: #333;
    background-color: #e7b336;
    color: #EEEEEE;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.16);

}


.nav-justified > li > a, .nav-tabs.nav-justified > li > a {
    text-align: center;
    margin-bottom: 5px;
    background-color: rgba(128, 128, 128, 0.25);
    font-size: 5px;
    font-family: $base-font;
    border: solid 1px rgba(51, 51, 51, 0.24);
    border-radius: 2px;
    color: black;
    font-size: 12px;
}


.nav > li > a:hover, .nav > li > a:focus {
  text-decoration: none;
  background-color: darken(#D3D3D3, 10%);
}

.tab-content > .tab-pane,
.pill-content > .pill-pane {
    display: block;     /* undo display:none          */
    height: 0;          /* height:0 is also invisible */
    overflow-y: hidden; /* no-overflow                */
}
.tab-content > .active,
.pill-content > .active {
    height: auto;       /* let the content decide it  */
} /* bootstrap hack end */

.badge {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 10px;
    font-weight: bold;
    color: black;
    line-height: 1;
    vertical-align: middle;
    white-space: nowrap;
    text-align: center;
    background-color: transparent;
    border-radius: 4px;
    border: solid 1px rgba(9, 9, 9, 0.3);
    margin-left: 10px;
}


.meals {
  box-shadow: 1px 1px 3px rgba(9, 9, 9, 0.12);
  background-color: white;
  border: solid 1px rgba(0, 0, 0, 0.16);
  border-radius: 3px;
  height: auto;
  padding:4px;
  margin: 30px;
  @include transition(opacity, 0.3s ease-out);

  &:hover {
    box-shadow: 0px 0px 6px 3px rgba(9, 9, 9, 0.25);
  }
  &-header {
    height: auto;
    background-size: cover;
    position: relative;
    color: white;
    border-radius: 3px 3px 0px 0px;
    &-price {
      position: absolute;
      bottom: 0px;
      left: 0px;
      background-color: rgba(2, 2, 2, 0.7);
      font-size: 26px;
      padding: 8px;
    }
    &-pic {
      position: absolute;
      bottom: -25px;
      right: 7px;
    }
    &-away {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      background-color: rgba(2, 2, 2, 0.7);
      h3 {
        font-family: $subtitle;
        font-size: 21px;
        margin: 4px;
      }
    }
    &-date {
      font-size: 30px;
      text-shadow: 1px 1px rgba(136,133,126,0.79);
      position: absolute;
      bottom: 0px;
      left: 24%;
      font-size: 17px;
      padding: 8px;
      margin-left: 10px;
    }
  }
  &-body {
    background-color: white;
    height: auto;
    &-chef {
      position: relative;
      padding: 15px;
      border-bottom: 1px solid rgba(4, 4, 4, 0.05);
      &-name {
        position:absolute;
        left: 22%;
        top:36%;
      }
      &-map {
        position: absolute;
        border-radius: 50px;
        width: 200px;
        height: 200px;
      }
    }
    &-menu {
      padding-left: 15px;
      border-bottom: 1px solid rgba(4, 4, 4, 0.05);
      &-title {
        margin-top: 12px;
        margin-bottom: 14px;
        margin-right: 15px;
        border-radius: 3px;
        border: solid 1px $pepeat;

        h3 {
        font-family: $subtitle;
        font-size: 16px;
        color: $pepeat;
        margin: 0px;
        padding: 3px;
        }
        &:hover {
          background-color: $pepeat;
          h3 {
            color: white;
          }
        }
      }
      &-starter{
        position: relative;
        height: auto;
        margin-bottom: 10px;
        &-element{
          padding-top: 5px;
          span {
            color: #ccc;
            font-size: 14px;
          }
          b {
            font-weight: 400;
            font-size: 14px;
            margin-right: 10px;
          }
          i {
            font-size: 14px;
          }
        }
      }
    }
    &-takeaway{
      padding: 2px;
      margin: 5px;
      border-bottom: 1px solid rgba(4, 4, 4, 0.05);
      &-hour {
        margin: 5px;
      }
      &-portion {
        margin-top: 10px;
      }
    }
    &-footer {
      &-order {

      }
    }
  }
}

.size-portion {
  width: 40px;
}



.size-txt-portion {
  font-size: 25px;
}

.img-chef-meal {
  height: 100px;
  width: 100px;
  border: solid 2px rgb(255, 255, 255);
}

.img-menu-meal {
  position: absolute;
  left: 0px;
  top: 50%;
  height: 22px;
  width: 34px;
  transform: translateY(-50%);
}

.img-take {
  margin-top: 10px;
  width: 28px;
}

.buton-order {
  width: 100%;
}

.size {
  width: auto;
  height: auto;
}



.card-meal {
  width: 100%;
  height: auto;
  background-color: white;
  &-header {
    padding: 10px;

    &-img {
      margin-right: 30px;
      width: 60px;
      height: 60px;
      box-shadow: 0 0 8px rgba(0, 0, 0, .8);
      -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
      -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    }
  }
  &-body {
    position: relative;
    padding: 10px;
    &-menu {
      padding-top: 15px;
      &-icon {
        margin-right: 20px;
        height: 50px;
        width:50px;
      }
    }
    &-map {
      position: absolute;
      right:0px;
      top: 19%;
      height: 59%;
      width: 36%;
    }
  }
  &-footer {

    &-icon {
      height: 30px;
      width: 30px;
      margin-left: 5px;
    }
  }
}


.size-img-carousel {
  height: 325px !important;
  width: 380px;
}

.not-found {
  h1 {
    font-size: 17px;
    font-family: $subtitle;
  }
  &-btn {
    margin-bottom: 30px;
  }
  &-img {
    width: 120px;
    margin: 15px;
  }
}


@media (max-width: 1024px) {
  .nav-justified > li > a, .nav-tabs.nav-justified > li > a {
    text-align: center;
    margin-bottom: 5px;
    background-color: rgba(128, 128, 128, 0.25);
    font-size: 5px;
    font-family: $base-font;
    border: solid 1px rgba(51, 51, 51, 0.24);
    border-radius: 2px;
    color: black;
    font-size: 10px;
  }
  .badge {
    display: inline-block;
    font-size: 8px;
    font-weight: bold;
    color: black;
    line-height: 1;
    vertical-align: middle;
    white-space: nowrap;
    text-align: center;
    background-color: transparent;
    border-radius: 4px;
    border: solid 1px rgba(9, 9, 9, 0.3);
    margin-left: 10px;
  }
  .meals h3 { font-size: 15px;}
  .meals-header-price {font-size: 17px;}
  .meals-header-date {font-size: 17px;}
  .meals-header-pic {bottom: -20px; right: 10px;}
  .img-chef-meal {height: 60px; width: 60px;}
  .meals-body-menu {padding-top: 0px; }
  i {font-size: 13px;}
  .meals-body-menu-starter {margin-bottom: 10px;}
  .img-menu-meal {height: 20px; width: 31px;}
  .meals-body-menu-title {margin-bottom: 0px;}
  .meals-body-takeaway {margin: 0px; padding: 3px;}
  .size-txt-portion {font-size: 20px; top: 5px; right: 7px;}
  .size-portion {width: 30px; height: 30px;}
}

@media (max-width: 767px) {
  .map-container { display: none}
}


