.background-meals-show {
  position: relative;

  background: -webkit-linear-gradient(90deg, #1D2B64 10%, #F8CDDA 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(90deg, #1D2B64 10%, #F8CDDA 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(90deg, #1D2B64 10%, #F8CDDA 90%); /* IE10 */
  background:      -o-linear-gradient(90deg, #1D2B64 10%, #F8CDDA 90%); /* Opera 11.10+ */
  background:         linear-gradient(90deg, #1D2B64 10%, #F8CDDA 90%); /* W3C */

  width: 100%;
  height: 245px;
  &-title {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    h3 {
      font-size: 44px;
      text-shadow: 2px 2px rgba(222, 161, 24, 0.79);
    }
  }
}

.chief-pic-carousel {
  width: 100%;
}

.margin {
  margin: 30px;
}

.meal {
  margin: 20px;
  background-color: white;
  box-shadow: 1px 1px 3px rgb(239, 231, 231);
  border-radius: 3px;
  height: auto;
  padding:4px;
  margin-top: 40px;
  border: 1px solid rgba(49,49,47,0.18);

  &-header {
    background-size: cover;
    position: relative;
    color: white;
    border-radius: 3px 3px 0px 0px;
    &-status {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      background-color: rgba(2, 2, 2, 0.7);
      h3 {
        font-family: $subtitle;
        font-size: 21px;
        margin: 4px;
      }
    }
    &-price {
      position: absolute;
      bottom: 0px;
      left: 0px;
      background-color: rgba(2, 2, 2, 0.7);
      font-size: 30px;
      padding: 8px;
    }
    &-date {
      position: absolute;
      bottom: 0px;
      right: 0px;
      background-color: rgba(2, 2, 2, 0.7);
      font-size: 30px;
      padding: 8px;
      span {
        font-size: 20px;
      }
    }
  }
  &-body {
    background-color: white;
    height: auto;
    &-menu {
      position: relative;
      margin-top: 18px;
      padding-bottom: 18px;
      padding-left: 15px;
      border-bottom: 1px solid rgba(4, 4, 4, 0.05);
      &-element {
          padding: 10px;
          position: absolute;
          top: 50%;
          left: 20%;
          transform: translateY(-50%);
        }
      &-first {
        position: relative;
        margin-top: 41px;
        padding-bottom: 18px;
        padding-left: 15px;
        border-bottom: 1px solid rgba(4, 4, 4, 0.05);
        &-element {
          position: absolute;
          top: 50%;
          left: 20%;
          transform: translateY(-50%);
          padding-bottom: 18px;
        }
      }
    }
    &-description {
      border-bottom: 1px solid rgba(4, 4, 4, 0.05);
      padding: 20px;
      h3 {
        color: $pepeat;
        font-family: $subtitle;
        margin-bottom: 20px;
        font-size: 20px;
      }
    }
    &-infos {
      border-bottom: 1px solid rgba(4, 4, 4, 0.05);
      padding: 15px;
      &-date {
        border-right: 1px solid rgba(4, 4, 4, 0.05);
      }
      &-portions {

      }
    }
  }
}

.title {
  font-family: 'League Script', cursive;
  font-size: 48px;
}

.img-menu-show-meal {
  width: 54px;
  height: 44px;
}

.picuser {
  height: 40px;
  width: 40px;
  margin: 10px;
  border: solid 1px rgba(0, 0, 0, 0.37);
  margin-bottom: 9px;
}


.card-ingredients {
  background-color: white;
  height: auto;
  padding:4px;
  box-shadow: 1px 1px 3px rgb(239, 231, 231);
  border-radius: 3px;
  border: 1px solid rgba(49,49,47,0.18);
  margin-bottom: 40px;
}


.card-order {
  background-color: white;
  height: auto;
  box-shadow: 1px 1px 3px rgb(239, 231, 231);
  border-radius: 3px;
  border: 1px solid rgba(49,49,47,0.18);
  margin-bottom: 40px;
  h3 {
    font-size: 20px;
    font-family: $subtitle;
    color: $pepeat
  }
}

.card-show-chief {
  margin-top: 30px;
  background-color: white;
  box-shadow: 1px 1px 3px rgb(239, 231, 231);
  border-radius: 3px;
  height: auto;
  padding:4px;
  margin: 40px;
  border: 1px solid rgba(49,49,47,0.18);
  &-description {
    padding: 15px;
    h3 {
      color: #E7B336;
      font-family: "Avenir-Medium";
      margin-bottom: 20px;
      font-size: 20px;
    }
  }
}




.buton-order-show {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px;
}


.card-infos {
  padding: 5px;
  background-color: white;
  height: auto;
  background-color: white;
  box-shadow: 1px 1px 3px rgb(239, 231, 231);
  border-radius: 3px;
  border: 1px solid rgba(49,49,47,0.18);
  &-map {
    height: 309px;
  }
  &-plus {
    span {
      color: $pepeat;
    }
    b {
      padding-right: 8px;
    }
    &-element{
      padding-top: 20px;
      position: relative;
      padding-bottom: 20px;
      border-bottom: 1px solid rgba(4, 4, 4, 0.05);
      &-position-img {
        position:absolute;
        transform: translateY(-50%);
        left: 10%;
        top: 50%;
      }
    }
    &-order {
    }
  }
}

.banner-review {
  border-bottom: 1px solid rgba(4, 4, 4, 0.05);
  padding: 30px;

  background: -webkit-linear-gradient(90deg, #134E5E 10%, #71B280 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(90deg, #134E5E 10%, #71B280 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(90deg, #134E5E 10%, #71B280 90%); /* IE10 */
  background:      -o-linear-gradient(90deg, #134E5E 10%, #71B280 90%); /* Opera 11.10+ */
  background:         linear-gradient(90deg, #134E5E 10%, #71B280 90%); /* W3C */

  &-pic {
  width: 130px;
  height: 130px;
  border: 1px solid rgba(0, 0, 0, 0.28);
  }
}

.card-feedback {
  background-color: white;
  box-shadow: 1px 1px 3px rgb(239, 231, 231);
  border-radius: 3px;
  height: auto;
  margin: 30px;
  margin-top: 50px;
  margin-bottom: 70px;
  border: 1px solid rgba(49,49,47,0.18);
  h3 {
    font-family: $subtitle;
    font-size: 20px;
    color: $pepeat;
  }
  &-element {
    position: relative;
    padding: 20px;
    border-bottom: 1px solid rgba(4, 4, 4, 0.05);
    &-img{
      position: absolute;
      top: 50%;
      left: 3%;
      transform: translateX(-50%) translateY(-50%);
    }
    &-name {
      position: absolute;
      top: 35%;
      left: 12%;
      transform: translateX(-50%) translateY(-50%);
    }
    &-date {
      position: absolute;
      bottom: 3%;
      left: 12%;
      transform: translateX(-50%) translateY(-50%);
    }
    &-review {
    padding: 9px 20px;
    }
  }
}


.avis-btn-position {
  position: relative;
  bottom: 18px;
}

.placeholder-meal {
  margin-top: 30px;
}

