
<html>
  <head>

    <style type= "text/css">
      .mail-payment-header{
        text-align: center;
      }

      .h1 {
        font-size: 25px;
      }

      .p {
        font-size: 14px;
      }
    </style>

  </head>

  <body>
    <div class= "mail-payment-header">
      <h1 class= "h1">Merci de votre réservation</h1>
      <p class= "p">Vous avez commandé <%= @order.portion %> portion(s) du menu <%= @order.meal.title %> au chef <%= @order.meal.user.firstname %></p>
    </div>
    <table>
      <tr>

      </tr>
    </table>
  </body>
</html>
