
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Votre commande</title>

    <style type= "text/css">

      .mail-payment-header{
        text-align: center;
        color: red;
      }

      .h1 {
        font-size: 25px;
      }

      .p {
        font-size: 14px;
      }

      .mail-img {
        width: 200px;
      }

    </style>

  </head>

  <body>
    <div class= "mail-payment-header">
      <%= image_tag 'pepeat-title.png', class: "mail-img" -%>
      <h1 class= "h1">Merci d'avoir fait une commande chez Pepeat</h1>
      <p class= "p">Vous avez commandé <%= @order.portion %> portion(s) du menu <%= @order.meal.title %> au chef <%= @order.meal.user.firstname %></p>
    </div>
    <table>
      <tr>

      </tr>
    </table>
  </body>
</html>
