.crop-tool {
  background-color: white;
  box-shadow: 1px 1px 3px rgb(239, 231, 231);
  border-radius: 3px;
  height: auto;
  padding: 30px;
  margin: 30px;
  margin-top: 50px;
  margin-bottom: 70px;
  border: 1px solid rgba(49,49,47,0.18);
  h3 {
    font-size: 20px;
    font-family: $subtitle;
    color: $pepeat;
  }
  &-picture {
    margin-top: 40px;
  }
  &-preview {
    margin: 30px;
  }
  &-button {
    margin: 30px;
  }
}

