.chief-profile {
  position: relative;
  background-color: white;
  box-shadow: 1px 1px 3px rgb(239, 231, 231);
  border-radius: 3px;
  height: auto;
  padding: 30px;
  margin: 30px;
  margin-top: 50px;
  margin-bottom: 70px;
  border: 1px solid rgba(49,49,47,0.18);

  h3 {
    font-family: $subtitle;
    font-size: 21px;
  }
  &-left {
    margin: 30px;
    &-picture {
      margin-top: 40px;
      width: 45%;
    }
  span {
    margin-top: 20px;
  }

  }
  &-right {
  margin: 30px;
  margin-left: 60px;
    &-date {
      margin-bottom: 35px;
    }
  }
  &-submit {
    position: absolute;
    transform: translateY(-50%) translateX(-50%);
    left: 50%;
    bottom: -4%;
  }
  p {
    background-color: rgba(0, 0, 0, 0.06);
    font-size: 20px;
    border-radius: 5px;
    border: 1px solid rgba(49,49,47,0.18);
  }
}

#img-preview {
  width: 300px;
  border: solid 1px black;
  box-shadow: 1px 1px rgba(51, 51, 51, 0.32);
  border: solid 2px rgba(0, 0, 0, 0.43);
}

.chief-infos {
  background-color: white;
  box-shadow: 1px 1px 3px rgb(239, 231, 231);
  border-radius: 3px;
  height: auto;
  padding: 30px;
  margin: 30px;
  margin-top: 40px;
  border: 1px solid rgba(49,49,47,0.18);
}

.invisible2 {
  display: none;
}


.preview-size-kitchen {
  margin-bottom:10px;
  height: 250px;
  width: 240px;

}

.chief-description {
  position: relative;
  background-color: white;
  box-shadow: 1px 1px 3px rgb(239, 231, 231);
  border-radius: 3px;
  height: auto;
  padding: 30px;
  margin: 30px;
  margin-top: 50px;
  margin-bottom: 70px;
  border: 1px solid rgba(49,49,47,0.18);
  &-title {
    margin-bottom: 20px;
  }
}

.profile-header {
  padding-bottom: 20px;
  font-size: 26px;
  text-decoration: overline;
}

.stripe {
position: relative;
background-color: white;
box-shadow: 1px 1px 3px rgb(239, 231, 231);
border-radius: 3px;
height: auto;
padding: 30px;
margin: 30px;
margin-top: 50px;
margin-bottom: 70px;
border: 1px solid rgba(49,49,47,0.18);
  &-button {
    width: 80%;
  }
  a {
    span {
      box-sizing: initial;
    }
  }
}


.chief-kitchen {
  position: relative;
  background-color: white;
  box-shadow: 1px 1px 3px rgb(239, 231, 231);
  border-radius: 3px;
  height: auto;
  padding: 30px;
  margin: 30px;
  margin-top: 50px;
  margin-bottom: 70px;
  border: 1px solid rgba(49,49,47,0.18);
  &-plus {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
}

.button-submit-profile {
  padding-bottom: 40px;
}
