.background-default {
  background-image: image-url('default.jpg');
  background-size: cover;
  background-position: center center;
  position: relative;

  &-blur {
    padding: 30px;
    position: relative;
    top: 37%;
    color: white;
    background-color: rgba(0,0,0,0.6);
    &-text {


    }
    &-edit {
    text-align: center;
    }
  }
}



.left {
  margin-top: 25px;
  border: 1px solid rgba(49,49,47,0.18);
  box-shadow: 1px 1px 3px rgb(239, 231, 231);

}

.img-profile {
  width: 100%;
  height: 500px;

}

.no-display {
  display: none;
}


.description {
  border: 1px solid rgba(49,49,47,0.18);
  box-shadow: 1px 1px 3px rgb(239, 231, 231);
  margin-top: 25px;
  margin-bottom: 70px;
  padding: 30px;
  background-color: white;
  width: 570px;
  height: auto;
}


.kitchen {
  margin-top: 10px;
}

.kitchen-size {
  height: 100%;
  width: 100%;
}

.placeholder-size {
  height: 263px;
  width: 90%;
}


.invisible {
  display: none;
}


.preview-size {
position: relative;
height: 263px;
width: 21em;
}


.hidden-form {
  display: none;
}

.go-btn {
  position: absolute;
    left: 59%;
    bottom: -14%;
    transform: translateX(-50%) translateY(-50%);
}


.picture-kitchen {
  height: 220px;
  margin: 2px;
  margin-bottom: 30px;
}


.title2 {
  font-family: 'League Script', cursive;
  font-size: 48px;
  border-top: 1px solid rgba(128, 128, 128, 0.32);
  margin-left: 15%;
  margin-right: 15%;
  padding-top: 30px;
  margin-bottom: 0px;
}
