.map-margin {
  margin-top: 30px;
  margin-bottom: 30px;
}
.background-default {
  background-image: image-url('default.jpg');
  background-size: cover;
  background-position: center center;
  position: relative;

  &-blur {
    padding: 30px;
    position: relative;
    top: 37%;
    color: white;
    background-color: rgba(0,0,0,0.6);
    &-text {


    }
    &-edit {
    text-align: center;
    }
  }
}

.background-profile-show {
  position: relative;
  background-image: image-url('people.jpg');
  background-size: cover;
  background-position: center center;
  &-title {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    h3 {
      font-size: 44px;
    }
  }
}

.mtop-10 {
  margin-top: 10px;
}
.user-img {
  width: 280px;
  height: 280px;
  margin-bottom: 8px;
  border: solid 1px rgba(9, 9, 9, 0.34);
}

.chief-description {
  position: relative;
  background-color: white;
  box-shadow: 1px 1px 3px rgb(239, 231, 231);
  border-radius: 3px;
  height: auto;
  padding: 30px;
  margin: 30px;
  border: 1px solid rgba(49,49,47,0.18);
  &-picture {
    position: relative;
    height: 70px;
    margin: 20px;
    width: 70px;
    &-fa {
      position: absolute;
      top: -25px;
      right: -17px;
    }
  }
}

.no-display {
  display: none;
}


.gallery-kitchen {
  position: relative;
  background-color: white;
  box-shadow: 1px 1px 3px rgb(239, 231, 231);
  border-radius: 3px;
  height: auto;
  padding: 30px;
  margin: 30px;
  border: 1px solid rgba(49,49,47,0.18);
  p {
    font-size: 13px;
    color: rgba(0, 0, 0, 0.55);
  }
  b {
    font-weight: 400;
  }
  &-row {
    margin-bottom: 40px;
    &-submit {
    position: absolute;
    transform: translateX(-50%) translateY(-50%);
    left: 50%;
    bottom: -18px;
    }
  }
}

.kitchen-size {
  height: 200px;
  width: 100%;
}

.placeholder-size {
  height: 263px;
  width: 90%;
}


.invisible {
  display: none;
}

.visible {
  display: block;
}


.preview-size {
  position: relative;
  width: 335px;
  height: 210px;
  box-shadow: 1px 1px rgb(255, 255, 255);
  border: solid 3px rgba(0, 0, 0, 0.11);
}

.preview-size-chief {
  position: relative;
  width: 253px;
  height: 200px;
  box-shadow: 1px 1px white;
  margin-top: 20px;
  border: solid 3px rgba(0, 0, 0, 0.11);
}

.preview-size-profile {
 position: relative;
  width: 335px;
  box-shadow: 1px 1px rgb(255, 255, 255);
  border: solid 3px rgba(0, 0, 0, 0.11);
}

.absolute-chief {
  position: absolute;
}


.hidden-form {
  display: none;
}

.go-btn {
  position: absolute;
  left: 53px;
  z-index: 2;
  bottom: 3px;
}

.modify-btn {
  position: absolute;
  left: 133px;
  z-index: 2;
  bottom: 3px;
}

.cancel-btn {
  position: absolute;
  left: 225px;
  z-index: 2;
  bottom: 3px;
}


.picture-kitchen {
  margin: 2px;
  margin-top: 20px;
  margin-bottom: 30px;
}


.title2 {
  font-family: 'League Script', cursive;
  font-size: 48px;
  border-top: 1px solid rgba(128, 128, 128, 0.32);
  margin-left: 15%;
  margin-right: 15%;
  padding-top: 30px;
  margin-bottom: 0px;
}

@media (max-width: 767px) {
  #img-preview { width: 150px !important; margin-bottom: 0px !important}
  .chief-profile-right {margin: 0px !important; margin-left: 0px !important;}
  .chief-description {margin-top: 0px !important; margin-bottom: 0px !important;}
  .stripe {margin-bottom: 0px !important; margin-top:0px !important;}
  .gallery-kitchen {margin-bottom: 0px; margin-top:0px;}
  .user-img {width: 150px !important; height: 150px !important}
  .crop {display: none}
  .title2 {font-size: 35px;}
}


