
.background-default {
  background-image: image-url('default.jpg');
  background-size: cover;
  background-position: center center;
  position: relative;

  &-blur {
    padding: 30px;
    position: relative;
    top: 37%;
    color: white;
    background-color: rgba(0,0,0,0.6);
    &-text {


    }
    &-edit {
    text-align: center;
    }
  }
}

.background-profile-show {
  position: relative;
  background: -webkit-linear-gradient(90deg, #525252 10%, #3d72b4 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(90deg, #525252 10%, #3d72b4 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(90deg, #525252 10%, #3d72b4 90%); /* IE10 */
  background:      -o-linear-gradient(90deg, #525252 10%, #3d72b4 90%); /* Opera 11.10+ */
  background:         linear-gradient(90deg, #525252 10%, #3d72b4 90%); /* W3C */

  width: 100%;
  height: 245px;
  &-title {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    h3 {
      font-size: 44px;
      text-shadow: 2px 2px rgba(222, 161, 24, 0.79);
    }
  }
}


.chief-description {
  position: relative;
  background-color: white;
  box-shadow: 1px 1px 3px rgb(239, 231, 231);
  border-radius: 3px;
  height: auto;
  padding: 30px;
  margin: 30px;
  border: 1px solid rgba(49,49,47,0.18);
  &-picture {
    position: relative;
    height: 70px;
    margin: 20px;
    width: 70px;
    &-fa {
      position: absolute;
      top: -25px;
      right: -17px;
    }
  }
}

.no-display {
  display: none;
}


.gallery-kitchen {
  position: relative;
  background-color: white;
  box-shadow: 1px 1px 3px rgb(239, 231, 231);
  border-radius: 3px;
  height: auto;
  padding: 30px;
  margin: 30px;
  border: 1px solid rgba(49,49,47,0.18);
  &-submit {
    position: absolute;
    transform: translateX(-50%) translateY(-50%);
    bottom: -7%;
    left: 50%;
  }
}

.kitchen-size {
  height: 100%;
  border: solid 1px rgba(0, 0, 0, 0.42);
  width: 100%;
}

.placeholder-size {
  height: 263px;
  width: 90%;
}


.invisible {
  display: none;
}


.preview-size {
  position: relative;
  width: 250px;
  box-shadow: 1px 1px rgb(255, 255, 255);
  border: solid 3px rgba(0, 0, 0, 0.11);
}


.hidden-form {
  display: none;
}

.go-btn {
  position: absolute;
  left: 53%;
  bottom: -9%;
  transform: translateX(-50%) translateY(-50%);
}


.picture-kitchen {
  margin: 2px;
  margin-top: 20px;
  margin-bottom: 30px;
}


.title2 {
  font-family: 'League Script', cursive;
  font-size: 48px;
  border-top: 1px solid rgba(128, 128, 128, 0.32);
  margin-left: 15%;
  margin-right: 15%;
  padding-top: 30px;
  margin-bottom: 0px;
}

@media (max-width: 767px) {
  #img-preview { width: 150px !important; margin-bottom: 0px !important}
  .chief-profile-right {margin: 0px !important; margin-left: 0px !important;}
  .chief-profile-submit { display: none; }
  .chief-description {margin-top: 0px !important; margin-bottom: 0px !important;}
  .stripe {margin-bottom: 0px !important; margin-top:0px !important;}
  .gallery-kitchen {margin-bottom: 0px; margin-top:0px;}
}


