.banner-ouishare {
  height: 111px;
  background-image: image-url('banner-ouishare.png');
  background-size: cover;
  background-position: center center;
}

.share-header {
  padding-bottom: 30px;
  margin: 60px 60px;
  &-logo {
    width: 300px;
    margin: -5px 24px;
  }
  p {
    font-size: 26px;
    font-family: 'Fredoka One', cursive;
  }
  span {
    font-size: 35px;
    color: #F98D8D;
    font-family: 'Fredoka One', cursive;
  }
  h2 {
    // font-family: 'Fredoka One', cursive;
    font-size: 20px;
    margin: 20px 200px;
  }
}

.share-body {
  background-color: white;
  padding: 60px;
  img {
    width: 140px;
  }
  h1 {
    margin: 30px;
  }
  p {
    font-size: 26px;
    font-family: 'Fredoka One', cursive;
    margin-top: 20px;
  }
  h3 {
    font-size: 20px;
    line-height: 36px;
  }
  &-card {
    box-shadow: 1px 1px 3px rgba(9, 9, 9, 0.12);
    background-color: white;
    border: solid 1px rgba(0, 0, 0, 0.16);
    height: auto;
    margin: 30px;
    @include transition(opacity, 0.3s ease-out);
    &:hover {
      box-shadow: 3px 3px 3px rgba(9, 9, 9, 0.25);
    }
    &-header {
      background-size: cover;
      img {
        width: 100%;
        height: 400px;
      }
    }
    &-body {

    }
  }
}

.pepeat-circle {
  position: absolute;
  width: 120px !important;
  transform: translateY(-75%) translateX(-50%);
  border: solid 1px rgba(0, 0, 0, 0.16);
}

.share-infos {
  background-color: white;
  padding-top: 50px;
  &-card {
    position: relative;
    box-shadow: 1px 1px 3px rgba(9, 9, 9, 0.12);
    background-color: rgba(238, 238, 238, 0.3);
    border: solid 1px rgba(0, 0, 0, 0.16);
    height: auto;
    padding: 20px;
    margin: 30px;
    margin-top: 100px;
    i {
      margin-right: 10px;
    }
    h4 {
      font-size: 24px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.39);
      margin-bottom: 20px;
      padding-bottom: 10px;
      margin-top: 47px;
    }
    h3 {
      font-size: 16px;
      margin-bottom: 19px;
    }
    p {
      text-align: -webkit-left;
      margin-bottom: 30px;
    }
    &-img {
      img {
        border: solid 1px rgba(0, 0, 0, 0.31);
        width: 80px;
        height: 80px;
        margin: 5px;
      }
    }
  }
}


.explain-container {
  max-width: 820px;
  margin: 0 auto;
  width: 100%;
  padding: 60px;
}


.explain {
  box-shadow: 1px 1px 3px rgba(9, 9, 9, 0.12);
  background-color: white;
  border: solid 1px rgba(0, 0, 0, 0.16);
  height: auto;
  margin: 30px;
  margin-top: 40px;
  &-card {
    &-left {
    padding: 20px;
      h2 {
        font-size: 25px;
      }
      h3 {
        font-size: 17px;
        padding-bottom: 20px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.13);
      }
      p {
        font-size: 14px;
      }
    }
    &-right {
      height: 269px;
      background-size: cover;
      background-position: center center;
      background-image: image-url('euratech.jpg');
    }
    &-right2 {
      height: 269px;
      background-size: cover;
      background-position: center center;
      background-image: image-url('hall.jpg');
    }
    &-right3 {
      height: 269px;
      background-size: cover;
      background-position: center center;
      background-image: image-url('cook.jpg');
    }
    &-right4 {
      height: 269px;
      background-size: cover;
      background-position: center center;
      background-image: image-url('happy-money.jpg');
    }
  }
}

.efonction {
  margin: 20px;
  h1 {
    font-size: 26px;
    color: $pepeat;
  }
  p {
    margin: 30px 20px;
  }
}


.share-form {
  background-color: white;
  padding: 50px;
  h1 {
    font-size: 27px;
    margin-bottom: 30px;
  }
  p {
    margin-top: 20px;
  }
}


.participant {
  background-color: white;
  padding: 60px;
  padding-top: 0px;
  h1 {
    font-size: 36px;
    margin-bottom: 50px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.23);
  }
  img {
    width: 100px;
    border: solid 1px rgba(0, 0, 0, 0.31);
  }
  span {
    font-size: 27px;
    margin-left: 40px;
  }
}

.partner {
    margin: 70px;
  img {
    width: 300px;
    margin: 40px;
  }
}

@media (max-width: 767px) {
  .share-header span {font-size: 23px;;}
  .share-header-logo { width: 127px;}
  .share-header p {font-size: 22px; margin-top: 20px;}
  .share-header h2 {font-size: 20px;margin: 17px 20px;}
  .share-body img { display: none}
  .share-body-card-header img {display: block; width: 100%;height: 200px;}
  .share-body {padding: 10px;}
  .share-infos-card-img img {border: solid 1px rgba(0, 0, 0, 0.31);width: 30px;height: 30px;margin: 0px;}
  .share-body-card-header img {height: 200px;}
  .explain-container {padding: 0px}
  .share-body p {font-size: 20px;}
  .explain-card-left h2 {font-size: 20px;}
  .explain-card-left h3 {font-size: 15px;}
  .share-form {padding: 10px;}
  .partner {margin: 10px;}
  .partner h1 {font-size: 30px; margin-bottom: 22px;}
  .partner img {width: 120px;margin: 5px;}
}

@media (min-width: 768px) and (max-width: 1024px) {
.partner img {width: 300px; margin: 20px;}
.partner {margin: 30px;}
.share-body-card-header img {width: 100%;height: 370px;}
.share-body {background-color: white;padding: 0px;}
}
