// Your footer style


.footer {
  background-color: #233240;
  height: auto;
  padding: 30px;

  i {
    color: red;
  }

  h1 {
    margin-top: 40px;
    margin-bottom: 30px;
    color: white;
    font-family: $subtitle;
    font-size: 20px;
  }

  a {
    color: #A09393;
    font-size: 12px;
    font-family: $base-font;
  }

  a:hover, a:focus {
    color: white;
    text-decoration: none;
  }
  &-infos {
    border-bottom: 1px solid white;
    padding-bottom: 20px;
  }
}

