#profile-banner {
  background-image: image-url('profile_banner_8.jpg');
  background-size: cover;
  background-position: center center;
  height: 500px;
  position: relative;
}


.img-profile {
  position: absolute;
  top: 182px;
  left: 508px;

}

.size {
  height: 130px;
  width: 130px;
  }

.name-profile {
  position: absolute;
  color: white;
  text-shadow: 2px 2px black;
  top: 364px;
  left: 515px;
}


.preview-img-profile {
  img {
  height: 200px;
  width: 200px;
  }
}
