.comment-card {
  position: relative;
  margin: 15px;
  &-pic {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border: solid 1px rgba(0, 0, 0, 0.38);
  }
  &-name {
    font-size: 14px;
  }
  &-date {
    font-size: 10px;
    margin-left: 5px;
  }
  &-comm {
    padding: 0px 20px;
    font-size: 14px;
    position: relative;
    top: 13px;
  }
}


.current-chat {
  border: solid 2px #f5bb00;
}
