/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */

.alert {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  margin: 0;
  text-align: center;
  color: white;
  z-index: 200;
  padding: 40px;
  &-info {
    background: grey;
  }
  &-warning {
    background: $red;
  }
}
