/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */

.alert {
  margin: 0;
  text-align: center;
  color: white;
  z-index: 2000;
  padding: 20px;
  &-info {
    background: grey;
  }
  &-warning {
    background: $red;
  }
}


.alert-home {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  margin: 0;
  text-align: center;
  color: white;
  z-index: 2000;
  padding: 20px;
  &-info {
    background: $pepeat;
  }
  &-warning {
    background: $red;
  }
}
