// For device screen personal computer

.title-banner {
  font-size: 38px;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.3);
}

.background-banner {
  width: 100%;
  max-height: 245px;
}

.profile-header {
  padding-bottom: 20px;
  font-size: 26px;
  text-decoration: overline;
}
