<% require "devise/version" %>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>mail test welcome and validation</title>


  <style type= "text/css">
    body{
      text-align: center;
      color: black;
      font-size: 15px;
      font-family: $subtitle;
    }
    .mail-img {
        width: 200px;
      }

    .left-side {
      text-align: left;
    }

  </style>

  </head>


  <body>

    <td>
      <%= image_tag 'pepeat-title.png', class: "mail-img" %>
      <h1> Wouhou !</h1>
      <h1>Pepeat vous souhaite la bienvenue !</h1>
    <p>Nous sommes ravis de vous accueillir parmi notre communauté de gourmands et de passionnés de cuisine.</p>
    <p>Il ne vous reste plus qu'à confirmer votre adresse mail en cliquant sur le lien suivant :</p>
    <p><%= link_to t('.action', :default => "Confirm my account"),
       confirmation_url(@resource, :confirmation_token => (Devise::VERSION.start_with?('3.') ? @token : @resource.confirmation_token)) %></p>

    </td>

    <div class= "left-side">
      <p><b>Informations importantes :</b></p> </br>

      <p>- Parce que Pepeat recherche actuellement les meilleurs cuisiniers de votre quartier pour satisfaire vos envies culinaires, vous pourrez passer vos premières commandes aux Pepeato à partir de janvier 2016 ! Restez attentif :)</p>

      <p>
      - Les Pepeato peuvent d'ores et déjà s'inscrire et proposer des menus, aller hop aux fourneaux !</p>

      <p> À très vite !</p>
    </div>

  </body>
</html>


