<% require "devise/version" %>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>mail test welcome and validation</title>


  <style type= "text/css">
    body{
      text-align: center;
      color: black;
      font-size: 15px;
      font-family: $subtitle;
    }

  </style>

  </head>


  <body>

    <td>

      <h1> Bienvenue chez Pepeat</h1>
    <p>Nous sommes ravis de bientôt vous compter parmi notre communauté.</p>
    <p>Avant de commencer l'aventure , vous devez confirmer votre adresse mail en cliquant sur le lien ci dessous:</p>
    <p><%= link_to t('.action', :default => "Confirm my account"),
       confirmation_url(@resource, :confirmation_token => (Devise::VERSION.start_with?('3.') ? @token : @resource.confirmation_token)) %></p>

    </td>

  </body>
</html>


