.global-order {
  position: relative;
  background-color: white;
  box-shadow: 1px 1px 3px rgb(239, 231, 231);
  border-radius: 3px;
  height: auto;
  margin: 30px;
  margin-top: 50px;
  margin-left: 0px;
  border: 1px solid rgba(49,49,47,0.18);
  &-header {
    h2 {
    padding: 10px;
    font-family: $subtitle;
    font-size: 20px;
    border-bottom: 1px solid rgba(4, 4, 4, 0.05);
    }
  }
  &-body {
    &-equal {
      position: absolute;
      top: 63%;
      left: 45%;
    }
    &-left {
      position: relative;
    }
    &-right {

    }
  }
}





.card-history {
  position: relative;
  background-color: white;
  box-shadow: 1px 1px 3px rgb(239, 231, 231);
  border-radius: 3px;
  height: auto;
  margin: 30px;
  margin-top: 50px;
  margin-left: 0px;
  border: 1px solid rgba(49,49,47,0.18);
  &-header {
    position: relative;

    background: -webkit-linear-gradient(90deg, #232526 10%, #414345 90%); /* Chrome 10+, Saf5.1+ */
    background:    -moz-linear-gradient(90deg, #232526 10%, #414345 90%); /* FF3.6+ */
    background:     -ms-linear-gradient(90deg, #232526 10%, #414345 90%); /* IE10 */
    background:      -o-linear-gradient(90deg, #232526 10%, #414345 90%); /* Opera 11.10+ */
    background:         linear-gradient(90deg, #232526 10%, #414345 90%); /* W3C */

    width: 100%;
    height: 50px;
    border-radius: 1px;
    color: white;
    padding-top: 5px;
    text-decoration: underline;
    p {
      color: white;
    }
  }
  &-pic {
    position: absolute;
    top: 0px;
    left: 13%;
    transform: translateX(-50%) translateY(-50%);
    &:hover {
      opacity: 0.9;
    }
  }
  &-body {
    &-menu {
      margin-top: 30px;
      padding: 15px;
      border-bottom: 1px solid rgba(4, 4, 4, 0.05);
    }
    &-address {
      padding: 15px;
      border-bottom: 1px solid rgba(4, 4, 4, 0.05);
    }
    &-hour {
      padding: 15px;
      border-bottom: 1px solid rgba(4, 4, 4, 0.05);

    }
    &-portion {
      padding: 15px;
      border-bottom: 1px solid rgba(4, 4, 4, 0.05);

    }
    &-takeaway {
      margin: 10px;
    }
    &-reviewed {
      padding: 15px;
    }
  }
}

.happy-order {
  margin: 20px;
  height: 22%;
  width: 22%;
}

.pichistory {
  height: 70px;
  width: 70px;
  border: 1px solid #EEEEEE;
}

.equal {
  margin: 20px;
  height: 31%;
  width: 31%;
}
