.background-profile-orders {
  position: relative;


  background: -webkit-linear-gradient(90deg, #16222A 10%, #3A6073 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(90deg, #16222A 10%, #3A6073 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(90deg, #16222A 10%, #3A6073 90%); /* IE10 */
  background:      -o-linear-gradient(90deg, #16222A 10%, #3A6073 90%); /* Opera 11.10+ */
  background:         linear-gradient(90deg, #16222A 10%, #3A6073 90%); /* W3C */



  width: 100%;
  height: 247px;
  &-title {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    h3 {
      font-size: 44px;
      text-shadow: 2px 2px rgba(49, 48, 45, 0.3);
    }
  }
  &-add {
    position: absolute;
    bottom: 12px;
    right: 12px;
  }
}


.infos {
  background-color: white;
  box-shadow: 1px 1px 3px rgb(239, 231, 231);
  border-radius: 3px;
  height: auto;
  padding: 4px;
  margin: 30px;
  border: 1px solid rgba(49,49,47,0.18);
  &-map {
    position: relative;
    height: 220px;
    width: 100%;
    &-picture {
      position: absolute;
      bottom: -19px;
      left: 0px;
      &-size {
        height: 60px;
        width: 60px;
        border: solid 1px white;
      }
    }
  }
  &-body {
    &-address {
      margin-top: 30px;
      padding: 15px;
      border-bottom: 1px solid rgba(4, 4, 4, 0.05);
    }
    &-tel {
      padding: 15px;
      border-bottom: 1px solid rgba(4, 4, 4, 0.05);
    }
    &-hour {
      padding: 15px;
      border-bottom: 1px solid rgba(4, 4, 4, 0.05);

    }
    &-portion {
      padding: 15px;
      border-bottom: 1px solid rgba(4, 4, 4, 0.05);

    }
    &-takeaway {
      margin: 10px;
    }
  }
}


.card-globale {
  margin: 60px;
  background-color: white;
  height: auto;
  width: auto;
  border: 1px solid rgba(49, 49, 47, 0.07);
  &:hover {
    background-color: #EEEEEE
  }
}


.adjustement {
  margin: 5px;
}

.awesome {
  padding-right: 20px;
}
