.background-profile-orders {
  position: relative;
  background-image: image-url('food_3.jpg');
  background-size: cover;
  background-position: center center;

  &-title {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    h3 {
      font-size: 44px;
      text-shadow: 2px 2px rgba(49, 48, 45, 0.3);
    }
  }
  &-add {
    position: absolute;
    bottom: 12px;
    right: 12px;
  }
}

.bg-order-discount {
    background: -webkit-linear-gradient(90deg, #ECE9E6 10%, #FFFFFF 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(90deg, #ECE9E6 10%, #FFFFFF 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(90deg, #ECE9E6 10%, #FFFFFF 90%); /* IE10 */
  background:      -o-linear-gradient(90deg, #ECE9E6 10%, #FFFFFF 90%); /* Opera 11.10+ */
  background:         linear-gradient(90deg, #ECE9E6 10%, #FFFFFF 90%); /* W3C */
}


.background-order-show{
  position: relative;
  background: -webkit-linear-gradient(90deg, #16222A 10%, #3A6073 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(90deg, #16222A 10%, #3A6073 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(90deg, #16222A 10%, #3A6073 90%); /* IE10 */
  background:      -o-linear-gradient(90deg, #16222A 10%, #3A6073 90%); /* Opera 11.10+ */
  background:         linear-gradient(90deg, #16222A 10%, #3A6073 90%); /* W3C */

  width: 100%;
  height: 247px;
}
.bg-order-show {

  background-size: cover;
  background-position: center center;
  width:100%;
  height: auto;
}



.infos {
  background-color: white;
  box-shadow: 1px 1px 3px rgb(239, 231, 231);
  border-radius: 3px;
  height: auto;
  padding: 4px;
  margin: 30px;
  border: 1px solid rgba(49,49,47,0.18);
  &-map {
    position: relative;
    height: 220px;
    width: 100%;
    &-picture {
      position: absolute;
      bottom: -19px;
      left: 0px;
      &-size {
        height: 60px;
        width: 60px;
        border: solid 1px white;
      }
    }
  }
  &-body {
    &-address {
      margin-top: 30px;
      padding: 15px;
      border-bottom: 1px solid rgba(4, 4, 4, 0.05);
    }
    &-tel {
      padding: 15px;
      border-bottom: 1px solid rgba(4, 4, 4, 0.05);
    }
    &-hour {
      padding: 15px;
      border-bottom: 1px solid rgba(4, 4, 4, 0.05);

    }
    &-portion {
      span {
        color: green;
      }
      padding: 15px;
      border-bottom: 1px solid rgba(4, 4, 4, 0.05);

    }
    &-takeaway {
      margin: 10px;
    }
  }
}


.card-globale {
  margin: 60px;
  background-color: white;
  height: auto;
  width: auto;
  border: 1px solid rgba(49, 49, 47, 0.07);
  &:hover {
    background-color: #EEEEEE
  }
}


.adjustement {
  margin: 5px;
}

.awesome {
  padding-right: 20px;
}


.orders {
  background-color: white;
  box-shadow: 2px 2px 3px rgba(56, 48, 48, 0.3);
  border-radius: 3px;
  height: auto;
  padding:4px;
  margin: 30px;
  &-header {
    height: 255px;
    background-size: cover;
    position: relative;
    color: white;
    border-radius: 3px 3px 0px 0px;
    &-price {
      position: absolute;
      bottom: -3px;
      left: 0px;
      background-color: rgba(2, 2, 2, 0.7);
      font-size: 30px;
      padding: 8px;
    }
    &-away {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      background-color: rgba(2, 2, 2, 0.7);
      h3 {
        font-family: $subtitle;
        font-size: 16px;
        margin: 4px;
      }
    }
    &-date {
      position: absolute;
      left: 0px;
      border-radius: 1px;
      bottom: 61px;
      font-size: 19px;
      padding-top: 5px;
      padding-left: 9px;
      padding-right: 9px;
      p {
        color: white;
        text-shadow: 1px 1px black;
        margin-bottom: 6px;
      }
    }
    &-hour {
      position: absolute;
      right: 6px;
      bottom: -16px;
        p {
          color: black;
          font-size: 19px;
        }
      }
    &-button {
      transform: translateX(-50%) translateY(-50%);
      position: absolute;
      top: 97%;
      left: 27%;
    }
    &-pic {
      position: absolute;
      right: 9px;
      bottom: 25px;

    }
  }
  &-body {
    &-show {
      margin-top: 10px;
      height:auto;
      color: white;
    }
    &-payment {
      height:auto;
      color: white;
    }
  }
}


.check-payment {
  position: absolute;
  top: 6px;
  right: 4px;
  color: green;
}

@media (max-width: 767px) {
  .infos { margin-bottom: 0px;}
}
