.rating {
  margin: 30px;
  margin-top: 50px;
  min-height: 300px;
}

.background-review {
  background-image: image-url('review.jpeg');
  background-size: cover;
  background-position: center center;
  position: relative;


  &-title {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    h3 {
      font-size: 44px;
    }
  }
}
