.img-pepeato {
  width: 150px;
  margin: 30px;
  height: 150px;
  border: solid 1px white;
  &:hover {
    opacity: 0.9;
  }
}

.background-pepeato {
  position: relative;
  background-image: image-url('pepeato_banner.jpg');
  background-size: cover;
  background-position: center center;
  &-title {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
}
