.img-pepeato {
  width: 120px;
  margin: 30px;
  height: 120px;
  margin-bottom: 5px;
  border: solid 1px white;
  &:hover {
    opacity: 0.9;
  }
}


.container-pepeato {
  margin: 55px 30px;
}

.background-pepeato {
  position: relative;
  background-image: image-url('pepeato_banner.jpg');
  background-size: cover;
  background-position: center center;
  &-title {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
}



.name-show {
  font-size: 13px;
  color: white;
  margin-bottom: 20px;
  margin-top: 5px;
  text-decoration: overline;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.43);
}

.text-show {
  display: block;
}

@media (max-width: 767px) {
  .img-pepeato { width: 60px; height: 60px}
}
