.card-meal-history {
  background-color: white;
  box-shadow: 1px 1px 3px rgb(239, 231, 231);
  border-radius: 3px;
  height: auto;
  padding:4px;
  margin: 30px;
  margin-top: 40px;
  border: 1px solid rgba(49,49,47,0.18);
  &-header {
    position: relative;
    width:100%;
    height: 80px;
    background-color: $pepeat;
    &:hover {
      background-color: darken($pepeat, 13.5%);
    }
    &-price {
      position: absolute;
      top:50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      font-size: 45px;
      color: white;
    }
  }
  &-body {
    &-title {
      h3 {
        font-size: 18px;
      }

    }
    &-element {
      padding: 20px;
      border-bottom: 1px solid rgba(4, 4, 4, 0.05);
    }
  }
}


.away {
  margin-right: 20px;
}
