.background-profile-meals {
  position: relative;
  background-image: image-url('banner.jpg');
  background-size: cover;
  background-position: center center;
  &-title {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    h3 {
      font-size: 44px;
      text-shadow: 1px 1px rgba(9, 9, 9, 0.28);
    }
  }
  &-add {
    position: absolute;
    bottom: 12px;
    right: 12px;
  }
}

.size-pepeat {
  width: 500px;
}

.preview-size-meal {
  position: relative;
  width: 351px;
  height: 196px;
  box-shadow: 1px 1px white;
  border: solid 3px rgba(0, 0, 0, 0.11);
}



.card-offer {
  position: relative;
  background-color: white;
  box-shadow: 1px 1px 3px rgb(239, 231, 231);
  border-radius: 3px;
  height: auto;
  padding:4px;
  margin: 30px;
  margin-top: 40px;
  border: 1px solid rgba(49,49,47,0.18);
  &-header {
    width: 100%;
    height: 60px;
    background-color: $pepeat;
    h3 {
      font-family: $subtitle;
      text-shadow: 1px 1px rgba(0, 0, 0, 0.46);
      font-size: 30px;
      padding-top: 12px;
      color: white;
      margin-top: 0px;
    }
  }
  &-header2 {
  width: 100%;
  height: 60px;
  background-color: rgba(241, 61, 4, 0.94);
    h3 {
      font-family: $subtitle;
      text-shadow: 1px 1px rgba(0, 0, 0, 0.46);
      font-size: 30px;
      padding-top: 12px;
      color: white;
      margin-top: 0px;
    }
  }
  &-left {
    position: relative;
    border-right: 1px solid rgba(4, 4, 4, 0.05);
    &-title {
      padding: 15px;
      font-family: $subtitle;
      font-size: 19px;
      margin-bottom: 3px;
    }
    &-meal {
      position: relative;
      padding: 10px;
      &-icon {
        position: absolute;
        top: 50%;
        left: 6%;
        width: 37px;
        height: 27px;
        transform: translateX(-50%) translateY(-50%);
      }
      &-name {
        padding-left: 17%;
        margin-bottom: 5px;
      }
    }
    &-announce {
      margin-top: 20px;
      margin-bottom: 3px;
      margin-right: 10px;
    }
    &-edit {
      position: absolute;
      top: 72%;
      right: 10%;
    }
  }
  &-right {
    &-title {
      padding: 15px;
      font-family: $subtitle;
      font-size: 19px;
      margin-bottom: 3px;
    }
    &-date {
      position: relative;
      padding: 15px;
      border-bottom: 1px solid rgba(4, 4, 4, 0.05);
      &-img {
        position: absolute;
        top: 50%;
        left: 12%;
        width: 39px;
        height: 40px;
        transform: translateX(-50%) translateY(-50%);
      }
      &-infos {
        margin-bottom: 8px;
        padding-left: 30px;
      }
    }
    &-portion {
      padding: 20px;
      margin-top: 23px;
      &-infos {
      font-size: 30px;
      color: $announce;
      }
    }
  }
  &-list {
  border-top: 1px solid rgba(4, 4, 4, 0.05);
  }
}


.picture-offer-validate{
  position: relative;
  border: solid 3px #e7b336;
  height: 45px;
  width: 45px;
  margin: 10px;
}

.picture-offer-invalidate{
  border: solid 3px #a94442;
  height: 45px;
  width: 45px;
  margin: 10px;
}


.check-position {
  position: absolute;
  transform: translateX(-50%) translateY(-50%);
  top: 38px;
  color: green;
  left: 52%;
}

.relative {
  position: relative;
}

.button-validation {
  right: 65px;
  position: relative;
  font-size: 10px;
  font-weight: 600;
}


// modale

.img-modale {
  margin: 10px;
  width: 80px;
  height: 80px;
  border: solid 2px rgb(255, 255, 255);
}


.modale-user {
  &-element {
    text-align: -webkit-left;
    margin-left: 20px;
    padding-top: 16px;
    &-nonvalidate {
      p {
        color: red;
      }
    }
    &-validate {
      p {
        color: green;
      }
    }
  }
}

#banner-xs {
  background-image: image-url('banner.jpg');
  background-size: cover;
  background-position: center center;
  position: relative;
  display: none;
  height: 600px;
  width: 100%;
}

.banner-xs-button {
  margin-top: 40px;
}

.xs-lille {
  h3 {
    color: white;
    font-size: 24px;
  }
}


@media (max-width: 767px) {
  .card-offer-header h3 { font-size: 24px;}
  .card-offer a {margin: 6px;}
  .card-offer-right-portion-infos {font-size: 20px;}
  .card-offer-right-portion { margin-top: 0px; padding: 12px;}
  .background-profile-meals-title h3 {font-size: 24px;}
  .card-offer-header2 h3 { font-size: 18px}
  .background-profile-meals-add { display: none}
  .button-longshadow-left.button-action { display: none}
}
