.background-meal-new {
  position: relative;

  background-image: image-url('banner-test2.png');
  background-position: center center;
  width: 100%;
  height: 285px;
  &-title {
    color: white;
    position: absolute;
    top: 50%;
    padding: 20px;
    border-radius: 4px;
    // border: solid 1px white;
    background-color: rgba(0, 0, 0, 0.67);
    left: 50%;
    text-shadow: 1px 1px rgba(51, 51, 51, 0.56);
    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    h3 {
      font-size: 44px;
    }
  }
}

.step {
  border-bottom: 1px solid rgba(49,49,47,0.18);
  margin-bottom: 30px;
  margin-top: 50px;
}


.card-menu {
  background-color: white;
  box-shadow: 1px 1px 3px rgb(239, 231, 231);
  border-radius: 3px;
  height: auto;
  padding: 26px 5px;
  margin: 30px;
  margin-top: 40px;
  border: 1px solid rgba(49,49,47,0.18);
  &-left {
    padding-right: 30px;
    h3 {
      font-family: $subtitle;
      font-size: 22px;
      padding-bottom: 10px;
    }
  }
  &-right {
    margin: 10px;
    h3 {
      font-family: $subtitle;
      font-size: 22px;
      color: $pepeat;
    }
    &-away {
      position: relative;
      border-bottom: 1px solid rgba(4, 4, 4, 0.05);
      padding-bottom: 30px;
      &-txt {
        padding-left: 200px
      }
      &-pic {
        width: 100px;
        position: absolute;
        top: 0px;
        left: 25px;
      }
    }
    &-home {
      margin-top: 40px;
      position: relative;
      &-txt {
        padding-left: 200px
      }
      &-pic {
        width: 100px;
        position: absolute;
        top: 0px;
        left: 25px;
      }
    }
  }
}



.card-ingredients {
  background-color: white;
  box-shadow: 1px 1px 3px rgb(239, 231, 231);
  border-radius: 3px;
  height: auto;
  padding: 26px 5px;
  margin: 30px;
  margin-top: 40px;
  border: 1px solid rgba(49,49,47,0.18);
  &-left {
    margin: 20px;
    &-pic {
      width: 100px;
      margin-bottom: 20px;
    }
  }
}

.card-description-menu {
  background-color: white;
  box-shadow: 1px 1px 3px rgb(239, 231, 231);
  border-radius: 3px;
  height: auto;
  padding: 26px 5px;
  margin: 30px;
  margin-top: 40px;
  border: 1px solid rgba(49,49,47,0.18);
  &-left {
    margin: 20px;
    &-pic {
      width: 100px;
      margin-bottom: 20px;
    }
  }
}


.menu-infos {
  background-color: white;
  box-shadow: 1px 1px 3px rgb(239, 231, 231);
  border-radius: 3px;
  height: auto;
  padding: 26px 30px;
  margin: 30px;
  margin-top: 10px;
  margin-left: 0px;
  border: 1px solid rgba(49,49,47,0.18);
    h3 {
      font-family: $subtitle;
      color: $pepeat;
    }
  &-price {
    &-icon {
      border-bottom: 1px solid rgba(4, 4, 4, 0.05);
      margin-bottom: 40px;
      &-size {
        width: 100px;
        height: 100px;
      }
    }
  }
  &-portion {
    padding-left: 32px;
    &-icon {
      border-bottom: 1px solid rgba(4, 4, 4, 0.05);
      margin-bottom: 40px;
      &-size {
        width: 100px;
      height: 100px;
      }
    }
  }
}


.date {
  background-color: white;
  box-shadow: 1px 1px 3px rgb(239, 231, 231);
  border-radius: 3px;
  height: auto;
  padding: 26px 30px;
  margin: 30px;
  margin-top: 10px;
  margin-left: 0px;
  border: 1px solid rgba(49,49,47,0.18);
  &-calendar {
    width: 150px;
    height: 150px;
  }
  &-day {

    h3 {
      font-family: $subtitle;
      font-size: 20px;
      color: $pepeat;
    }
    &-input {
      margin: 0 auto;
    }
  }
  &-hour {
    border-left: 1px solid rgba(49,49,47,0.18);
    h3 {
      font-family: $subtitle;
      font-size: 20px;
      color: $pepeat;
    }
    &-away {

    }
  }
}


.important {
  position: relative;
  background-color: white;
  box-shadow: 1px 1px 3px rgb(239, 231, 231);
  border-radius: 3px;
  height: auto;
  padding: 26px 30px;
  margin: 30px;
  margin-bottom: 40px;
  margin-top: 10px;
  margin-left: 0px;
  border: 1px solid rgba(49,49,47,0.18);
  &-cgu {
    padding: 20px;
  }
  &-submit {
    position: absolute;
    bottom: -23px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.preview-meal {
  height: 242px;
  width: 280px;
}

