.background-meal-new {
  position: relative;


  background: -webkit-linear-gradient(90deg, #00bf8f 10%, #001510 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(90deg, #00bf8f 10%, #001510 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(90deg, #00bf8f 10%, #001510 90%); /* IE10 */
  background:      -o-linear-gradient(90deg, #00bf8f 10%, #001510 90%); /* Opera 11.10+ */
  background:         linear-gradient(90deg, #00bf8f 10%, #001510 90%); /* W3C */



  width: 100%;
  height: 285px;
  &-title {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    h3 {
      font-size: 44px;
      text-shadow: 2px 2px rgba(222, 161, 24, 0.79);
    }
  }
}

.step {
  border-bottom: 1px solid rgba(49,49,47,0.18);
  margin-bottom: 30px;
  margin-top: 50px;
}


.card-menu {
  background-color: white;
  box-shadow: 1px 1px 3px rgb(239, 231, 231);
  border-radius: 3px;
  height: auto;
  padding: 26px 5px;
  margin: 30px;
  margin-top: 10px;
  margin-left: 0px;
  border: 1px solid rgba(49,49,47,0.18);
  &-left {
    padding-right: 30px;
    h3 {
      font-family: $subtitle;
      font-size: 22px;
      padding-bottom: 10px;
    }
  }
  &-right {
    margin: 10px;
    h3 {
      font-family: $subtitle;
      font-size: 22px;
    }
    &-away {
      position: relative;
      border-bottom: 1px solid rgba(4, 4, 4, 0.05);
      padding-bottom: 30px;
      &-txt {
        padding-left: 200px
      }
      &-pic {
        width: 22%;
        position: absolute;
        top: 0px;
        left: 25px;
      }
    }
    &-home {
      margin-top: 40px;
      position: relative;
      &-txt {
        padding-left: 200px
      }
      &-pic {
        width: 22%;
        position: absolute;
        top: 0px;
        left: 25px;
      }
    }
  }
}


.menu-infos {
  background-color: white;
  box-shadow: 1px 1px 3px rgb(239, 231, 231);
  border-radius: 3px;
  height: auto;
  padding: 26px 30px;
  margin: 30px;
  margin-top: 10px;
  margin-left: 0px;
  border: 1px solid rgba(49,49,47,0.18);
    h3 {
      font-family: $subtitle;
    }
  &-price {
    &-icon {
      border-bottom: 1px solid rgba(4, 4, 4, 0.05);
      margin-bottom: 40px;
      &-size {
        width: 100px;
        height: 100px;
      }
    }
  }
  &-portion {
    padding-left: 32px;
    &-icon {
      border-bottom: 1px solid rgba(4, 4, 4, 0.05);
      margin-bottom: 40px;
      &-size {
        width: 100px;
      height: 100px;
      }
    }
  }
}


.date {
  background-color: white;
  box-shadow: 1px 1px 3px rgb(239, 231, 231);
  border-radius: 3px;
  height: auto;
  padding: 26px 30px;
  margin: 30px;
  margin-top: 10px;
  margin-left: 0px;
  border: 1px solid rgba(49,49,47,0.18);
  &-calendar {
    width: 150px;
    height: 150px;
  }
  &-day {

    h3 {
      font-family: $subtitle;
      font-size: 20px;
    }
    &-input {
      margin: 0 auto;
    }
  }
  &-hour {
    border-left: 1px solid rgba(49,49,47,0.18);
    h3 {
      font-family: $subtitle;
      font-size: 20px;
    }
    &-away {

    }
  }
}


.important {
  background-color: white;
  box-shadow: 1px 1px 3px rgb(239, 231, 231);
  border-radius: 3px;
  height: auto;
  padding: 26px 30px;
  margin: 30px;
  margin-top: 10px;
  margin-left: 0px;
  border: 1px solid rgba(49,49,47,0.18);
}

.preview-meal {
  height: 242px;
  width: 280px;
}

