.background-meal-new {
  position: relative;

  background-image: image-url('food_2.jpeg');
  background-position: center center;
  background-size: cover;
  &-title {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    text-shadow: 1px 1px rgba(51, 51, 51, 0.56);
    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    h3 {
      font-size: 44px;
    }
  }
}



// FLO V2
.create-first {
  margin-top: 50px;
  i {
    color: $pepeat;
  }
  &-card {
    padding: 1% 5% 4% 5%;
    cursor: pointer;
    box-shadow: 0px 0px 6px 1px #bebebe;
    border-radius: 5px;
    background-color: white;
    height: auto;
    margin: 30px;
    margin-top: 40px;
    @include transition(opacity, 0.3s ease-out);
    &:hover {
      box-shadow: 0px 0px 6px 3px rgba(9, 9, 9, 0.25);
    }
    h1 {
      font-size: 24px;
      padding-bottom: 10px;
      border-bottom: solid 1px rgba(0, 0, 0, 0.14);
      margin-bottom: 30px;
      font-weight: 400;
    }
    img {
      width: 100%;
    }
    button {
      border-radius: 5px;
    }
    p {
      color: rgba(0, 0, 0, 0.55);
      font-size: 14px;
      margin: 30px;
    }
      &-check {
      text-align: -webkit-left;
      margin: 45px 0px;
      i {
        color: $pepeat;
        margin-right: 10px;
      }
      p {
        font-weight: 400;
        margin: 15px 30px;
        color: black;
      }
    }
  }
  &-button {
    margin: 40px;
  }
}


.selected {
  width: 75%;
  background-color: rgba(0, 0, 0, 0);
  transition: all 0.2s ease-out;
  h1 {
    font-size: 18px;
  }
  p {
    font-size: 10px;
    margin: 13px;
  }
}

.create-second{
  &-card {
    padding: 1% 5% 4% 5%;
    box-shadow: 0px 0px 6px 1px #bebebe;
    border-radius: 5px;
    background-color: white;
    height: auto;
    margin: 30px;
    margin-top: 40px;
    input {
      border-radius: 5px;
    }
    &-title {
      margin: 30px;
    }
    &-compo {
      margin-bottom: 40px;
      padding-bottom: 20px;
      border-bottom: solid 1px rgba(0, 0, 0, 0.18);
      h3 {
        font-size: 20px;
        font-weight: bold;
      }
      p {
        color: rgba(0, 0, 0, 0.57);
        font-size: 12px;
        margin-bottom: 30px;
      }
      &-el {
        font-size: 20px;
        margin: 20px;
        h2 {
          font-size: 18px;
        }
        i {
          cursor: pointer;
          color: $pepeat;
        }
      }
    }
    &-description {
      margin: 40px;
      h2 {
        font-size: 25px;
        margin-bottom: 50px;
      }
    }
  }
  &-button {
    margin: 40px;
  }
}


.create-third {
  &-card {
    box-shadow: 0px 0px 6px 1px #bebebe;
    border-radius: 5px;
    background-color: white;
    height: auto;
    margin: 30px;
    margin-top: 40px;
    @include transition(opacity, 0.3s ease-out);
    &:hover {
      box-shadow: 0px 0px 6px 3px rgba(9, 9, 9, 0.25);
    }
    &-header {
      img {
        width: 100%;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
      }
    }
    &-body {
      margin-top: 10px;
      padding: 20px;
      h3 {
        font-size: 23px;
        padding-bottom: 20px;
      }
      p {
        color: rgba(0, 0, 0, 0.48);
        font-size: 13px;
        text-align: -webkit-left;
        margin-left: 20px;
      }
    }
    &-input {
      padding: 30px 50px;
    }
  }
  &-button {
    margin: 40px;
  }
}

.create-fourth {
  &-card {
    box-shadow: 0px 0px 6px 1px #bebebe;
    border-radius: 5px;
    background-color: white;
    height: auto;
    margin: 30px;
    margin-top: 40px;
    h2 {
      font-size: 20px;
      margin-bottom: 42px;
    }
    h3 {
      font-size: 20px;
    }
    p {
      margin-bottom: 42px;
      color: rgba(0, 0, 0, 0.44);
      font-size: 13px;
    }
    &-header {
      img {
        width: 100%;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
      }
    }
    &-body {
      padding: 20px;
    }
    &-button {
      margin: 20px;
    }
  }
}

.create-fifth {
  &-card {
    box-shadow: 0px 0px 6px 1px #bebebe;
    border-radius: 5px;
    background-color: white;
    height: auto;
    margin: 30px;
    margin-top: 40px;
    &-header {
      img {
        width: 100%
      }
    }
    &-body {
      margin: 20px;
      h3 {

      }
    }
  }
}

// END FLO V2

.card-warning {
  background-color: white;
  box-shadow: 1px 1px 3px rgb(239, 231, 231);
  border-radius: 3px;
  height: auto;
  padding: 26px 5px;
  margin: 20px;
  margin-top: 40px;
  border: 1px solid rgba(49,49,47,0.18);
  h1 {
    font-size: 22px;
    color: $pepeat;
  }
  p {
    font-size: 18px;
  }
}


.step {
  border-bottom: 1px solid rgba(49,49,47,0.18);
  margin-bottom: 30px;
  margin-top: 50px;
}


.card-menu {
  background-color: white;
  box-shadow: 1px 1px 3px rgb(239, 231, 231);
  border-radius: 3px;
  height: auto;
  padding: 26px 5px;
  margin: 20px;
  margin-top: 40px;
  border: 1px solid rgba(49,49,47,0.18);
  &-left {
    padding-right: 30px;
    h3 {
      font-family: $subtitle;
      font-size: 22px;
      padding-bottom: 10px;
    }
  }
  &-right {
    margin: 10px;
    h3 {
      font-family: $subtitle;
      font-size: 22px;
      color: $pepeat;
    }
    &-away {
      position: relative;
      border-bottom: 1px solid rgba(4, 4, 4, 0.05);
      padding-bottom: 30px;
      &-txt {
        padding-left: 200px
      }
      &-pic {
        width: 100px;
        position: absolute;
        top: 0px;
        left: 25px;
      }
    }
    &-home {
      margin-top: 40px;
      position: relative;
      &-txt {
        padding-left: 200px
      }
      &-pic {
        width: 100px;
        position: absolute;
        top: 0px;
        left: 25px;
      }
    }
  }
}





.card-ingredients {
  background-color: white;
  box-shadow: 1px 1px 3px rgb(239, 231, 231);
  border-radius: 3px;
  height: auto;
  padding: 26px 5px;
  margin: 20px;
  margin-top: 10px;
  border: 1px solid rgba(49,49,47,0.18);
  &-left {
    margin: 20px;
    &-pic {
      width: 100px;
      margin-bottom: 20px;
    }
  }
}

.card-description-menu {
  background-color: white;
  box-shadow: 1px 1px 3px rgb(239, 231, 231);
  border-radius: 3px;
  height: auto;
  padding: 26px 5px;
  margin: 20px;
  border: 1px solid rgba(49,49,47,0.18);
  margin-top: 10px;
  &-left {
    margin: 20px;
    &-pic {
      width: 100px;
      margin-bottom: 20px;
    }
  }
}


.menu-infos {
  background-color: white;
  box-shadow: 1px 1px 3px rgb(239, 231, 231);
  border-radius: 3px;
  height: auto;
  padding: 26px 30px;
  margin: 20px;
  margin-top: 10px;
  border: 1px solid rgba(49,49,47,0.18);
    h3 {
      font-family: $subtitle;
      color: $pepeat;
    }
  &-price {
    &-icon {
      border-bottom: 1px solid rgba(4, 4, 4, 0.05);
      margin-bottom: 40px;
      &-size {
        width: 100px;
        height: 100px;
      }
    }
  }
  &-portion {
    padding-left: 32px;
    &-icon {
      border-bottom: 1px solid rgba(4, 4, 4, 0.05);
      margin-bottom: 40px;
      &-size {
        width: 100px;
      height: 100px;
      }
    }
  }
}


.date {
  background-color: white;
  box-shadow: 1px 1px 3px rgb(239, 231, 231);
  border-radius: 3px;
  height: auto;
  padding: 26px 30px;
  margin: 20px;
  margin-top: 10px;
  border: 1px solid rgba(49,49,47,0.18);
  &-calendar {
    width: 150px;
    height: 150px;
  }
  &-day {

    h3 {
      font-family: $subtitle;
      font-size: 20px;
      color: $pepeat;
    }
    &-input {
      margin: 0 auto;
    }
  }
  &-hour {
    border-left: 1px solid rgba(49,49,47,0.18);
    h3 {
      font-family: $subtitle;
      font-size: 20px;
      color: $pepeat;
    }
    &-away {

    }
  }
}


.important {
  position: relative;
  background-color: white;
  box-shadow: 1px 1px 3px rgb(239, 231, 231);
  border-radius: 3px;
  height: auto;
  padding: 26px 30px;
  margin: 30px;
  margin-bottom: 40px;
  margin-top: 10px;
  margin-left: 0px;
  border: 1px solid rgba(49,49,47,0.18);
  &-cgu {
    padding: 20px;
  }
  &-submit {
    position: absolute;
    bottom: -23px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.preview-meal {
  height: 242px;
  width: 280px;
}


@media (max-width: 767px) {
  .card-menu-left {padding-right: 0px; margin: 10px;}
}
